{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
<pre style="white-space: pre-wrap;">
   <b>Согласие на обработку персональных данных </b>
 
Настоящим, даю свое согласие индивидуальному предпринимателю Шведовой Анне Владимировне (ИНН: 246206406670,ОГРНИП: 324508100151690), (далее — «Оператор»), на обработку моих персональных данных на следующих условиях. 
 
Я даю свое согласие Оператору на обработку им следующих моих персональных данных, не относящихся к специальной категории персональных данных:

Цель обработки
Перечень персональных данных
Основания для обработки 
Подготовка, заключение и исполнение гражданско-правового договора, заключенного с Оператором
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
адрес доставки (для целей отправки Субъекту приобретенной Продукции);
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях; 
реквизиты банковской карты; 
номер расчетного счета;
номер лицевого счета. 
иные персональные данные, предоставляемые субъектами персональных данных, необходимые для заключения и исполнения договоров (аккаунты в мессенджерах (Telegram,MAX) и социальных сетях.



Договоры, заключаемые между Оператором и Субъектами персональных данных.
Согласие Субъектов персональных данных на обработку их персональных данных. 
Согласие Субъектов на передачу персональных данных третьим лицам. 
Согласие на сбор Cookies. 


Передача  персональных данных третьим лицам, привлекаемым Оператором для исполнения обязательств по договору, заключенному с Оператором
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
адрес доставки 
ip-адрес;
реквизиты банковской карты (в случае передачи платежному сервису);
иные персональные данные, предоставляемые субъектами персональных данных, необходимые для заключения и исполнения договоров (аккаунты в мессенджерах (Telegram,MAX) и социальных сетях.




Договоры, заключаемые между Оператором и Субъектами персональных данных.
Согласие Субъектов персональных данных на обработку их персональных данных. 
Согласие Субъектов на передачу персональных данных третьим лицам. 
Согласие на сбор Cookies. 



Продвижение товаров, работ,услуг на рынке 
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
фото-видео изображение лица; 
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях. 


Согласие Субъектов персональных данных на получение информационных и рекламных  рассылок.   
Обработка обращений,жалоб,запросов, сообщений,направляемых Оператором и Субъектом персональных данных друг другу.
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
фото-видео изображение лица; 
адрес доставки (для целей отправки Субъекту приобретенной Продукции);
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях; 
реквизиты банковской карты; 
номер расчетного счета;
номер лицевого счета. 


Договоры,заключаемые между Оператором и Субъектами персональных данных;
Согласие Субъектов персональных данных на обработку их персональных данных.
Согласие на сбор Cookies. 
Сбор обратной связи от получателей услуг Оператора для улучшения качества услуг Оператора, привлечения новых клиентов и повышения лояльности уже существующих клиентов
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
фото-видео изображение лица; 
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях; 
текст сообщения (если текст сообщения содержит персональные данные); 
информация об опыте получения услуг, потребителем которых Вы являлись (если такая информация содержит персональные данные).



Договоры,заключаемые между Оператором и Субъектами персональных данных;
Согласие Субъектов персональных данных на обработку их персональных данных.
Согласие на сбор Cookies. 
Согласие Субъектов персональных данных на получение информационных и рекламных  рассылок.


2. Предоставляя настоящее согласие Оператору, я действую свободно, по своей воле и в своем интересе. Моё согласие является сознательным, конкретным, предметным, информированным и однозначным.
3. Я подтверждаю:
Свою полную дееспособность; 
Принадлежность мне и достоверность предоставленных мной Персональных данных;
Я поддерживаю свои Персональные данные в актуальном состоянии; 
Знаю свои права и обязанности, предусмотренные законодательством Российской Федерации о      персональных данных, в частности, право на отзыв своего согласия.
В  ходе обработки моих персональных данных Оператор совершает следующие действия:
 сбор;
запись;
 систематизацию;
накопление;
 хранение;
 уточнение (обновление, изменение);
 использование;
 блокирование;
 удаление;
 уничтожение;
 обезличивание.

Оператор на основании настоящего согласия обрабатывает мои персональные данные с использованием средств автоматизации и без использования таких средств (вручную), в соответствии с Политикой обработки персональных данных, размещенной на сайте Оператора: https://shvedovaav.ru/ (далее-Сайт).
Настоящее согласие вступает в силу с момента его надлежащего выражения Пользователем путем:
-проставление  Субъектом персональных данных отметки (символа "галочка") в поле слева от фразы "Даю согласие на обработку своих персональных данных" по следующим ссылке: https://shvedovaav.ru/
Согласие действует на сроки, предусмотренные разделом 3 Политики обработки персональных данных, размещенной по ссылке:https://shvedovaav.ru/
Другой срок может быть предусмотрен в отдельных случаях. 
Я вправе отозвать настоящее согласие путем направления Оператору заявления в форме электронного документа по адресу электронной https://info@shvedovaav.ru/ написав в теме письма «Отзыв согласия на обработку персональных данных», или отправив письменное заявление. Оператор направляет подтверждение получения отзыва в течение 5 рабочих дней.
Я вправе получить информацию по вопросам персональных данных путем обращения к Оператору посредством отправки письма на электронную почту: https://info@shvedovaav.ru/
Я осознаю, в случае отзыва настоящего согласия Оператор вправе продолжить обработку моих персональных данных без такого согласия при наличии оснований, указанных в Федеральном законе от 27.07.2006 № 152-ФЗ «О персональных данных». В таком случае настоящее согласие действует до момента прекращения обработки персональных данных.

</pre>
</div>
{% endblock %}