{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">

   <h1>Согласие на передачу персональных данных третьим лицам</h1>
   <br><br>
Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006, Я (Пользователь сайта), 
субъект персональных данных, именуемый в дальнейшем «Пользователь», во время использования мною веб-сайта https://shvedovaav.ru 
(далее – Сайт, Сервис), свободно, своей волей и в своем интересе выражаю полное, безоговорочное и однозначное согласие на обработку 
моих персональных данных для ИП "Шведова Анна Владимировна" и Администрации Сайта (далее – Согласие) на следующих условиях:
<br><br>
Согласие выдано на передачу следующих категорий персональных данных:
<br><br>
Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации или в процессе использования Сервисов 
(в том числе личного кабинета) веб-сайта https://shvedovaav.ru, а именно:
<br><br>
   - фамилия <br>
   - имя <br>
   - отчество <br>
   - e-mail <br>
   - номер телефона <br>
   - адрес (в случае, если мы высылаем товары почтой) <br> <br>

 Достоверность собранных таким способом электронных данных не проверяется, информация обрабатываются «как есть» в том виде, как она 
 поступила с клиентского устройства.

Согласие выдано на передачу персональных данных в целях:
<br><br>
Обеспечения осуществления оформления заказа (Платежные сервисы и Транспортные компании).
Ваши данные отправляются в 
<br> - платежный сервис для идентификации плательщика. А также, в случае необходимости доставки, данные передаются
<br> - транспортную компанию для осуществления доставки товара. Какая именно транспортная компания будет осуществлять доставку, 
обговаривается при обратной связи с клиентом, после оформления заказа.
<br><br>
В процессе обработки персональных данных Оператор вправе осуществлять действия: сбор, запись, систематизацию, накопление, хранение, уточнение 
(обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, 
удаление, уничтожение персональных данных Пользователя.
<br><br>
Настоящим, Пользователь подтверждает, что:
<br><br>
Ознакомился с Политикой конфиденциальности.
Ознакомлен и согласен с тем, что Сайт вправе передать персональную информацию Пользователя третьим лицам в целях исполнения договорных 
обязательств в адрес: ИП Шведова Анна Владимировна и его прямо или косвенно аффилированных лиц для дальнейшей обработки сотрудниками последнего в 
целях оказания услуг, предоставления договоров и другой коммерческой деятельности, подразумевающей контакт прямой с Пользователем, в 
том числе любой рекламной деятельности в отношении продуктов указанного выше лица. При этом такие данные являются персональными данными 
в случае если позволяют идентифицировать пользователя, а для функционирования некоторых Сервисов Администрация сайта передает обезличенные 
данные, не позволяющие однозначно идентифицировать пользователя (токены, шифрованные логины и т.п.) но позволяющие связаться с последним 
без однозначной идентификации. Пользователь также соглашается, что указанное выше лицо вправе передать данные партнерам и/или контрагентам, 
непосредственно связанными с целями обработки данных.
Проинформирован о возможности отзыва согласия на основании положений Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» 
путем личного обращения или направления письменного обращения в свободной форме заказным письмом с уведомлением о вручении в адрес Оператора 
или на следующий адрес электронной почты: info@shvedovaav.ru.
В случае если настоящее согласие возникает повторно и на странице имеется Политика конфиденциальности дополненная или в иной версии, то 
согласие применяется к расширенной политике, в том числе в части передачи персональных данных третьим лицам, например, для функционирования 
личного кабинета (если применимо).
<br><br>
</div>
{% endblock %}