{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
   <pre style="white-space: pre-wrap;">

   <b></b>Согласие на передачу персональных данных третьим лицам </b>
Настоящим я, субъект персональных данных, свободно, своей волей и в своем интересе даю индивидуальному предпринимателю Шведовой Анне Владимировне (ИНН 246206406670, ОГРНИП 324508100151690) (далее — Оператор) согласие на передачу моих персональных данных третьим лицам на следующих условиях:
1. Цель передачи:
Передача осуществляется исключительно для целей исполнения обязательств по договору (публичной оферте), заключённому между мной и Оператором.
2. Категории третьих лиц — получателей данных:
Данные могут передаваться следующим категориям третьих лиц, оказывающим Оператору услуги, необходимые для исполнения договора:
Платёжным сервисам, банкам — для обработки платежа и идентификации плательщика.
Транспортным, логистическим и курьерским компаниям — для доставки товаров (Продукции) по указанному мной адресу, информирования о статусе доставки (включая, но не ограничиваясь: СДЭК, Boxberry, Почта России).
Хостинг-провайдерам и IT-специалистам — для обеспечения технической работоспособности и безопасности Сайта Оператора (https://shvedovaav.ru).
3. Передаваемые персональные данные:
Для достижения указанных целей могут передаваться следующие мои данные: фамилия, имя, отчество, номер контактного телефона, адрес электронной почты, адрес доставки, IP-адрес, а также в случае передачи платежному сервису — реквизиты банковской карты или иного платежного средства.
4. Подтверждения и условия:
Я подтверждаю, что ознакомлен(а) с Политикой обработки персональных данных Оператора (https://shvedovaav.ru/), которая подробно регулирует вопросы передачи данных.
Я согласен(на), что конкретный перевозчик или платёжный оператор определяется фактом моего заказа и выбранным мной способом доставки/оплаты.
Настоящее согласие действует с момента его выражения и до полного исполнения обязательств по договору, а также в течение сроков, установленных для хранения отчётности.


5. Право на отзыв:
Я осведомлен(а) о праве отозвать настоящее согласие, направив письменное заявление на электронную почту Оператора: info@shvedovaav.ru. Я понимаю, что отзыв согласия на передачу данных, необходимых для доставки или оплаты, может сделать невозможным дальнейшее исполнение договора.


</pre>
</div>
{% endblock %}