{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">

   <h1>Согласие на обработку персональных данных</h1>
   <br><br>
Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006, Я (Пользователь сайта), 
субъект персональных данных, именуемый в дальнейшем «Пользователь», во время использования мною веб-сайта https://shvedovaav.ru 
(далее – Сайт, Сервис), свободно, своей волей и в своем интересе выражаю полное, безоговорочное и однозначное согласие на обработку 
моих персональных данных для ИП "Шведова Анна Владимировна" и Администрации Сайта (далее – Согласие) на следующих условиях:
<br><br>
Согласие выдано на обработку следующих категорий персональных данных:
<br><br>
Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации или в процессе использования Сервисов 
(в том числе личного кабинета), включая персональные данные Пользователя.;
Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя 
программного обеспечения, в том числе IP-адрес, данные файлов cookies, информация о браузере Пользователя (или иной программе, 
с помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем,
 дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация, при условии, что указанные данные способны 
 идентифицировать лицо, являющееся собственником (держателем, лицом к которому непосредственно относятся персональные данные). 
 Достоверность собранных таким способом электронных данных не проверяется, информация обрабатываются «как есть» в том виде, как она 
 поступила с клиентского устройства.
Согласие выдано на обработку персональных данных в целях:
<br><br>
Регистрации, авторизации, идентификации, аутентификации Пользователя, зарегистрированного на Сайте, в случае использования формы регистрации 
соответствующим Сервисом. При этом, предоставление данных, идентифицирующих пользователя как субъекта персональных данных, не требуется, что 
подразумевает, что Пользователь указывает «логин» или сведения о том, как последний желает, чтобы Сайт идентифицировал такового без привязки 
к личности субъекта персональных данных.
Предоставления Пользователю доступа к персонализированным ресурсам Сайта, если применимо.
Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, 
обработку запросов и заявок от Пользователя
Создания учетной записи для входа в личный кабинет, если Пользователь дал согласие на создание учетной записи и согласился с политикой 
конфиденциальности, а также решил предоставить действительные персональные данные, согласно которым последнего возможно идентифицировать.
Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием 
Сайта и/или Сервисов.
Осуществление функционирования сторонних сервисов продвижения Сайта, в частности «Яндекс Метрика» и подобные. Применяется, в случае 
если получаемые сервисом данные позволяют идентифицировать Пользователя.
Определение IP-адреса пользователя без дальнейшей проверки в целях определения обширного территориального признака Пользователя без 
последующей идентификации. Применяется в случае получения иных данных в совокупности с IP-адресом которые позволили идентифицировать Пользователя.
В случае необходимости, проверки полномочий Пользователя на осуществление действий от имени соответствующего юридического лица, при 
этом Сайт не хранит сведения о принадлежности, такие данные обрабатываются в ручном режиме сотрудником или администрацией сайта с 
последующим удалением.
Направление Пользователям уведомлений, информации, запросов, связанных с деятельностью Сервисов и оказанием услуг Пользователям, в 
том числе, информирование о платежах, доступе к получению оплаченных услуг, иное консультирование Пользователей, обработка заявок, 
вопросов, заявлений и иных сообщений Пользователей.
Согласие выдано на обработку персональных данных смешанным (автоматизированным и неавтоматизированным) способом с соблюдением мер, 
обеспечивающих их защиту от несанкционированного доступа.
<br><br>
В процессе обработки персональных данных Оператор вправе осуществлять: сбор, запись, систематизацию, накопление, хранение, уточнение 
(обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, 
удаление, уничтожение персональных данных Пользователя.
<br><br>
Настоящим, Пользователь подтверждает, что:
<br><br>
Ознакомился с Политикой конфиденциальности.
Ознакомлен и согласен с тем, что Сайт вправе передать персональную информацию Пользователя третьим лицам в целях исполнения договорных 
обязательств в адрес: ИП Шведова Анна Владимировна и его прямо или косвенно аффилированных лиц для дальнейшей обработки сотрудниками последнего в 
целях оказания услуг, предоставления договоров и другой коммерческой деятельности, подразумевающей контакт прямой с Пользователем, в 
том числе любой рекламной деятельности в отношении продуктов указанного выше лица. При этом такие данные являются персональными данными 
в случае если позволяют идентифицировать пользователя, а для функционирования некоторых Сервисов Администрация сайта передает обезличенные 
данные, не позволяющие однозначно идентифицировать пользователя (токены, шифрованные логины и т.п.) но позволяющие связаться с последним 
без однозначной идентификации. Пользователь также соглашается, что указанное выше лицо вправе передать данные партнерам и/или контрагентам, 
непосредственно связанными с целями обработки данных.
Проинформирован о возможности отзыва согласия на основании положений Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» 
путем личного обращения или направления письменного обращения в свободной форме заказным письмом с уведомлением о вручении в адрес Оператора 
или на следующий адрес электронной почты: info@shvedovaav.ru.
В случае если настоящее согласие возникает повторно и на странице имеется Политика конфиденциальности дополненная или в иной версии, то 
согласие применяется к расширенной политике, в том числе в части передачи персональных данных третьим лицам, например, для функционирования 
личного кабинета (если применимо).
<br><br>
</div>
{% endblock %}