{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
    <h1>СОГЛАСИЕ С РАССЫЛКОЙ РЕКЛАМНЫХ И ИНФОРМАЦИОННЫХ СООБЩЕНИЙ</h1>
    <br><br>

    Настоящим, действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, я, в соответствии 
    со ст. 18 Федерального закона «О рекламе», даю предварительное согласие на получение от ИП "Шведова Анна Владимировна" сообщений 
    и любой иной информации рекламного характера (далее по тексту – Реклама) посредством:
<br><br>
СМС;
<br>
push-уведомлений;
<br>
приложений;
<br>
мессенджеров;
<br>
телефонных звонков;
<br>
электронной почты;
<br>
иным образом на предоставленные мною в адрес ИП "Шведова Анна Владимировна" номер телефона и/или адрес электронной почты.
    <br><br>
Я подтверждаю, что уведомлен о том, что я могу в любое время изменить настройки рекламных рассылок либо полностью отказаться от получения 
Рекламы посредством функционала соответствующего раздела Личного кабинета https://shvedovaav.ru/users/profile.
    <br><br>
Я также подтверждаю, что предоставленные мною в адрес ИП "Шведова Анна Владимировна" номер телефона и/или адрес электронной почты принадлежат мне, а направляемая 
на них Реклама предназначена только для меня и не будет получаться третьими лицами, не давшими ИП "Шведова Анна Владимировна" предварительного согласия на получение Рекламы.
   
    <br><br>

</div>
{% endblock %}