{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
    <pre style="white-space: pre-wrap;">
    <b>СОГЛАСИЕ на получение рекламных и информационных рассылок</b>

      Проставляя отметку (символ "галочка" в поле слева от фразы "Даю согласие на получение рекламных и информационных рассылок" по ссылке:https://shvedovaav.ru
(далее-Сайт) я  даю согласие индивидуальному предпринимателю Шведовой Анне Владимировне (ИНН: 246206406670,ОГРНИП: 324508100151690)  (далее- Оператор) на:

1.Обработку моих персональных данных: 
●	фамилия, имя, отчество;
●	адрес электронной почты;
●	номер телефона;
●	фото-видео изображение лица; 
●	иные персональные данные, предоставляемые субъектами персональных данных, необходимые для заключения и исполнения договоров (аккаунты в мессенджерах (Telegram,MAX) и социальных сетях.

2. Получение следующих информационных и рекламных рассылок (в том числе,но не ограничиваясь): 
✓ Новости и полезные материалы;
✓ Информация о продуктах/услугах/товарах Оператора; 
✓ Спецпредложения и акции. 

3. Получение информационных и рекламных рассылок путем следующих способов связи: 
●	Проставление отметки ✓" (символ «галочка») в поле слева от фразы «Даю согласие на получение рекламных и информационных рассылок» и нажатие кнопки отправки заполненной формы на Сайте. 
●	Согласие действует на сроки,предусмотренные разделом 3 Политики обработки персональных данных, размещенной по ссылке:https://shvedovaav.ru
Другой срок может быть предусмотрен в отдельных случаях. 

Я вправе:
    —Отозвать согласие в любой момент в течение всего срока действия настоящего согласия путем отправки запроса на отзыв согласия на электронную почту Оператора: https://info@shvedovaav.ru/
    —Отписаться от получения рассылок в течение всего срока действия настоящего согласия путем  запроса  на электронную почту Оператора: https://info@shvedovaav.ru
    —Требовать удаления моих данных путем направления запроса на электронную почту Оператора:https://info@shvedovaav.ru
    —Получить информацию об обработке моих данных путем направления запроса на электронную почту Оператора: https://info@shvedovaav.ru

Подтверждаю, что: 
●	Указал(а) достоверные данные;
●	Согласие дано добровольно;
●	Не передаю данные третьих лиц;
●	Ознакомлен(а) с Политикой обработки данных, размещенной по ссылке: https://shvedovaav.ru
</pre>
</div>
{% endblock %}