{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
    <p>Политика конфиденциальности содержит пояснения о том, как используется информация, которую Вы нам предоставляете.

Ваша конфиденциальность очень важна для нас. Мы хотим, чтобы Ваша работа в Интернете была максимально приятной и полезной и Вы совершенно спокойно использовали широчайший спектр информации, инструментов и возможностей. МВМ считает своим долгом защищать конфиденциальность персональных данных клиентов, которые могут быть идентифицированы каким-либо образом. Поправки к настоящей Политике конфиденциальности будут размещены на Сайте и/или в Сервисах и будут являться действительными сразу после публикации. Ваше дальнейшее использование Сервисов после внесения любых поправок в Политике конфиденциальности означает Ваше принятие данных изменений.<br><br>
1. Какая информация собирается на сайте?<br><br>
Мы собираем такие Данные: имя и фамилия; e-mail, телефон и адрес (в случае, если мы высылаем товары почтой); общие статистические данные. Персональные данные, собранные при регистрации (или в любое другое время) используется для подготовки Продуктов или Услуг в соответствии с Вашими потребностями. Ваша информация не будет передана третьим сторонам.
<br><br>


Мы регулярно готовим актуальные информационные продукты (как платные, так и большое количество бесплатных). Кроме того, мы можем проводить опрос для выяснения Вашего мнения о наших продуктах, а также Ваших пожеланий. Перед тем как предоставить нам чужие персональные данные, обязательно получите разрешение соответствующих лиц. Убедитесь, что вы предоставляете правильные и точные сведения. Мы собираем информацию такими способами: в момент подписки пользователя на одну или несколько наших служб рассылок; в момент оформления заказа у нас на Сайте и/или в Сервисах; в личном порядке при прохождении одной или нескольких наших образовательных программ.
<br><br>
2. С какой целью собирается Ваша персональная информация?
<br><br>
Имя используется для обращения лично к Вам, а Ваш e-mail для отправки Вам писем рассылок, новостей тренинга, полезных материалов, коммерческих предложений. 
Данные используются для предоставления Вам информационных продуктов и услуг, а также проведения опросов с целью определения информации, в которой Вы нуждаетесь; для обработки Ваших запросов в службу поддержки. 
Для рассылки новостей, разрешенных действующим законодательством или в соответствии с Вашими пожеланиями (см. ниже раздел «Отказ от подписки»). 
Для рассылки служебных сообщений (например, если Вы забыли свой пароль – применительно к продуктам, содержащим пароль). 
Для предотвращения и выявления мошенничества и незаконного использования моих продуктов или услуг. 
Как к нам попадают Ваши данные? 
На Сайте www.shvedovaav.ru и/или в Сервисах проекта используются куки (Cookies) и данные о посетителях сервиса Yandex Metrika, Google Analytics. 
Это данные о действиях посетителей с целью улучшения содержания Сервисов, улучшения функциональных возможностей и, как следствие, создания качественного контента для посетителей. 
Вы можете в любой момент изменить настройки своего браузера, блокировать все файлы cookie браузером. Учтите при этом некоторые функции и сервисы не смогут работать должным образом.
МВМ<br><br>
3. Как защищается Ваша информация?
<br><br>
Для защиты Вашей личной информации мы используем разнообразные административные, управленческие и технические меры безопасности. Таким образом, мы защищаем Вас от кражи, недобросовестного использования, несанкционированного доступа к Вашей персональной информации, уничтожения, изменения. Мы придерживаемся различных международных стандартов контроля, направленных на организацию операций с личной информацией. Они включают все необходимые меры контроля по защите информации, собранной в Интернете. 
<br><br>
В то же время мы не можем гарантировать абсолютного устранения риска несанкционированного злоупотребления персональной информацией. Убедительно просим Вас самым внимательным образом подойти к хранению паролей к учетным записям и не сообщать их кому-либо еще (в случае, если речь идет о продуктах, содержащих пароли доступа). Немедленно свяжитесь с нами, если станет известно о каком-либо нарушении информационной безопасности (например, несанкционированном использовании Вашего пароля).
Для связи с администратором сайта по любым вопросам вы можете написать письмо на e-mail: info@shvedovaav.ru</p>
    <br><br>

</div>
{% endblock %}