{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
        <pre style="white-space: pre-wrap;">
    <b>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</b>

1. Общие положения

1.1. Настоящая Политика обработки персональных данных (далее – Политика) разработана во исполнение требований Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее – Закон о персональных данных).
1.2.Политика действует в отношении всех персональных данных, которые обрабатывает Индивидуальный предприниматель Шведова Анна Владимировна (ИНН: 246206406670,ОГРНИП: 324508100151690),  (далее — Оператор).  
1.3.Политика распространяется на отношения в области обработки персональных данных, возникшие у Оператора как до, так и после утверждения настоящей Политики.
1.4.Во исполнение требований ч. 2 ст. 18.1 Закона о персональных данных настоящая Политика публикуется в свободном доступе в информационно-телекоммуникационной сети Интернет по сетевому адресу: https://shvedovaa.ru.
1.5.Настоящая Политика определяет порядок и условия обработки Оператором, информации о физическом лице, которая может быть получена Оператором от этого физического лица либо от его законного представителя (далее – «Субъект персональных данных», «Посетитель»), при возникновении следующих отношений с Субъектом персональных данных:

при осуществлении Оператором прав и обязанностей, установленных соглашениями/договорами;
при необходимости связи с субъектом персональных данных, а также при обработке обращений, запросов, сообщений, направляемых Оператором и Субъектом персональных данных друг другу, сбора обратной связи от получателей услуг Оператора для улучшения качества услуг Оператора, привлечения новых клиентов и повышения лояльности уже существующих  клиентов.

1.6.Целью и назначением Политики является обеспечение надлежащего правового режима персональных данных. Персональные данные Субъекта персональных данных будут использоваться для тех целей, для которых Субъект персональных данных их предоставил Оператору в соответствии с условиями настоящей Политики.
1.7.Обработка персональных данных несовершеннолетнего клиента без согласия законного представителя не допускается. Для несовершеннолетних клиентов, обработка их персональных данных осуществляется исключительно на основании письменного согласия, предоставленного их законным представителем.
1.8.В случае если Оператору достоверно станет известно, что персональные данные несовершеннолетнего лица были получены без согласия законного представителя, либо данные несовершеннолетнего были получены с нарушением процедуры, такие данные будут незамедлительно уничтожены.
1.9.Сбор персональных данных осуществляется исключительно на добровольной основе. Оператор не обрабатывает персональные данные, относящиеся к специальной категории персональных данных в соответствии с законодательством РФ. 
Основные понятия, используемые в Политике:
персональные данные – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу/юридическому лицу (далее – Субъект персональных данных), в том числе полученная от посетителей  (далее-Пользователь) во время использования формы сбора данных Оператора, расположенной по адресу: https://shvedovaav.ru (далее-Сайт);
оператор персональных данных (Оператор) – физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
обработка персональных данных – любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования. Обработка персональных данных включает в себя в том числе:
· сбор;
· запись;
· систематизацию;
· накопление;
· хранение;
· уточнение (обновление, изменение);
· использование;
· блокирование;
· удаление;
· уничтожение;
· обезличивание.
автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
неавтоматизированная обработка персональных данных — это операции с личной информацией, выполняемые без использования компьютерных систем, исключительно при участии человека и с применением физических носителей;
смешанная обработка персональных данных — это совокупность автоматизированного и не автоматизированного способов обработки персональных данных;
блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных;
обезличивание персональных данных- это данные, хранимые в информационных системах в электронном виде, принадлежность которых конкретному субъекту персональных данных невозможно определить без дополнительной информации;
информационная система персональных данных – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств. 

1.10. Правовое основание обработки персональных данных
1.10.1.Оператор обрабатывает персональные данные с согласия Субъекта.
1.10.2.Субъект/Пользователь дает согласие на обработку персональных данных, в том числе при:
-выполнении инструкции в интерфейсах Сайта, нажатия на специальные кнопки;
-обращении к Оператору через мессенджер Telegram и/или электронную почту: info@shvedovaav.ru (включая инициацию диалога, задавание вопросов Оператору и отправку любых сообщений). 
Субъект/Пользователь подтверждает свое согласие на использование данных каналов связи для коммуникации по вопросам оказания Услуг, а также соглашается с условиями обработки его персональных данных в соответствии с настоящей Политикой.  Согласие предоставляется в момент совершения Субъектом действий, выражающих согласие, на весь период оказания услуг Оператором и на 3 (три) года с даты достижения цели обработки персональных данных.  Другой срок может быть предусмотрен в отдельных случаях. 
1.10.3.Моментом принятия Согласия является:
-проставление Субъектом/Пользователем отметки (символа «галочка») в поле слева от фразы «Даю согласие на обработку своих персональных данных» на Сайте;
 1.10.4. Соглашаясь на обработку персональных данных Субъект: 
Выражает Согласие на обработку персональных данных без оговорок и ограничений; 
Подтверждает, что все указанные им данные достоверны и принадлежат лично ему; 
Подтверждает, что, давая Согласие, он действует свободно, своей волей и в своем интересе. 
1.10.5.Субъект предоставляет согласие на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.
1.10.6.Оператор обрабатывает персональные данные для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных,а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем. 
 1.10.7.Заключаемый с субъектом персональных данных договор не может содержать положения, ограничивающие права и свободы субъекта персональных данных; обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных; обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц, в том числе в случаях, предусмотренных законодательством РФ, либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы Субъекта персональных данных.
1.10.8.Путем передачи своих персональных данных Оператору, Субъект персональных данных удостоверяет, что полностью ознакомлен с положениями настоящей Политики, осознает их смысл и значение, а также выражает свое полное и безусловное принятие указанных условий. Настоящее согласие на обработку персональных данных является конкретным, информированным, сознательным и недвусмысленным.
1.10.9.Правовым основанием обработки персональных данных является совокупность нормативных правовых актов, во исполнение которых и в соответствии с которыми Оператор осуществляет обработку персональных данных, в том числе:
 Конституция Российской Федерации;
 Гражданский кодекс Российской Федерации;
 Налоговый кодекс Российской Федерации; 
 иные нормативные правовые акты, регулирующие отношения, связанные с деятельностью Оператора.
1.10.10. Правовым основанием обработки персональных данных также являются:
договоры, заключаемые между Оператором и Субъектами персональных данных; 
согласие Субъектов персональных данных на обработку их персональных данных;
согласие Субъектов персональных данных на передачу персональных данных третьим лицам, привлекаемым Оператором для исполнения обязательств по договору, заключенному с Оператором;
согласие Субъектов персональных данных на получение информационных/рекламных  рассылок;
cогласие на сбор Cookies. 
1.11. Основные права и обязанности Оператора.
1.11.1.Оператор имеет право: 
1) самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами;
2) поручить обработку персональных данных другому лицу с согласия Субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные Законом о персональных данных; 
3) в случае отзыва Субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия Субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;
4) затребовать дополнительные сведения, необходимые для надлежащего установления личности обратившегося лица. Указанная информация запрашивается исключительно в обоснованных случаях.  Оператор руководствуется принципом минимальной достаточности при запросе дополнительных сведений. Вместе с тем, непредставление запрашиваемой информации может повлечь невозможность исполнения Оператором своих обязательств по реализации прав субъекта персональных данных. 

1.11.2.Оператор обязан: 
1) организовывать обработку персональных данных в соответствии с требованиями Закона о персональных данных;
2) отвечать на обращения и запросы Субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных; 
3) сообщать в уполномоченный орган по защите прав Субъектов персональных данных (Федеральную службу по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)) по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса по адресу электронной почты  Оператора: info@shvedovaav.ru. 

2. Основные права  и обязанности  Субъекта персональных данных. 
2.1. Субъект персональных данных имеет право:
 1) получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами, посредством обращения к Оператору по адресу электронной почты: info@shvedovaav.ru.
Сведения предоставляются Субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим Субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных; 
2) посредством обращения к Оператору по адресу электронной почты: info@shvedovaav.ru требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав; 
3) выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке ов, работ и услуг; 
4) обжаловать в Роскомнадзоре или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных; 
5) получать от Оператора сообщения по адресу электронной почты и на абонентский номер телефона и привязанные к нему мессенджеры, предоставленные Субъектом персональных данных.  
2.2.Контроль за исполнением требований настоящей Политики осуществляется Оператором. 
2.3.Ответственность за нарушение требований законодательства Российской Федерации в сфере обработки и защиты персональных данных определяется в соответствии с законодательством Российской Федерации.
2.4.Субъект передает Оператору персональные данные при осуществлении следующих действий:
Использование Сайта (в том числе с предоставлением персональных данных в формах сбора данных);
Подготовка, заключение и исполнение гражданско-правового договора;
Оплата услуг/приобретение/доставка  Продукции Оператора; 
Участие в мероприятиях, исследованиях и опросах Оператора, в том числе в социальных сетях и мессенджерах (Telegram,МАX); 
Сбор и обработка отзывов и иной обратной связи от Пользователей в рамках и по окончании использования Услуг/приобретения Продукции.
Подписка на рекламные/информационные рассылки Оператора в социальных сетях и мессенджерах  (Telegram,MAX); 
Обращение к Оператору; 
Пользование правами или выполнение обязанностей на основании правил и документов Оператора. 

3. Основные правила, принципы и цели обработки персональных данных:
3.1.1. Цель: Подготовка, заключение и исполнение гражданско-правового договора, заключенного с Оператором:

Категории и перечень обрабатываемых персональных данных: 
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
адрес доставки (для целей отправки Субъекту приобретенной Продукции);
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях; 
реквизиты банковской карты; 
номер расчетного счета;
номер лицевого счета. 
иные персональные данные, предоставляемые субъектами персональных данных, необходимые для заключения и исполнения договоров (аккаунты в мессенджерах (Telegram,MAX) и социальных сетях.

Категории субъектов, персональные данные которых подлежат обработке:
контрагенты;
кредставители контрагентов;
клиенты/получатели услуг и Продукции;
законные представители;
пользователи  мессенджеров (Telegram,MAX) и социальных сетей. 
выгодоприобретатели по договорам.

Способы обработки персональных данных: смешанная обработка персональных данных. 
Срок обработки и хранения персональных данных:  
до получения от субъекта персональных данных требования о прекращении обработки/отзыва согласия либо на срок действия договорных отношений, либо 3 (три) года после окончания таких договорных отношений, либо до прекращения деятельности Оператора.
Обработка персональных данных прекращается при наступлении одного из следующих событий:
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 

Порядок уничтожения персональных данных: 
Лицо, ответственное за обработку персональных данных, производит уничтожение данных при наступлении одного из событий: 
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 

3.1.2.  Цель: Передача  персональных данных третьим лицам, привлекаемым Оператором для исполнения обязательств по договору, заключенному с Оператором:
Категории и перечень обрабатываемых персональных данных: 
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
адрес доставки 
ip-адрес;
реквизиты банковской карты (в случае передачи платежному сервису);
иные персональные данные, предоставляемые субъектами персональных данных, необходимые для заключения и исполнения договоров (аккаунты в мессенджерах (Telegram,MAX) и социальных сетях.



Категории субъектов, персональные данные которых подлежат обработке:
контрагенты;
представители контрагентов;
клиенты/получатели услуг и Продукции;
законные представители;
пользователи  мессенджеров (Telegram,MAX) и социальных сетей. 
выгодоприобретатели по договорам.

Способы обработки персональных данных: смешанная обработка персональных данных. 
Срок обработки и хранения персональных данных:  
до получения от субъекта персональных данных требования о прекращении обработки/отзыва согласия либо на срок действия договорных отношений, либо 3 (три) года после окончания таких договорных отношений, либо до прекращения деятельности Оператора.
Обработка персональных данных прекращается при наступлении одного из следующих событий:
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 

Порядок уничтожения персональных данных: 
Лицо, ответственное за обработку персональных данных, производит уничтожение данных при наступлении одного из событий: 
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 


3.1.3. Цель: обработка обращений, жалоб, запросов, сообщений, направляемых Оператором и Субъектом персональных данных друг другу:
Категории и перечень обрабатываемых персональных данных:
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
фото-видео изображение лица; 
адрес доставки (для целей отправки Субъекту приобретенной Продукции);
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях; 
реквизиты банковской карты; 
номер расчетного счета;
номер лицевого счета. 


Категории субъектов, персональные данные которых подлежат обработке:
контрагенты;
представители контрагентов;
клиенты/получатели услуг и Продукции;
законные представители;
пользователи  мессенджеров (Telegram,MAX) и социальных сетей. 
выгодоприобретатели по договорам.
 

Способы обработки персональных данных: смешанная обработка персональных данных. 
Срок обработки и хранения персональных данных:  
до получения от субъекта персональных данных требования о прекращении обработки/отзыва согласия либо на срок действия договорных отношений, либо 3 (три) года после окончания таких договорных отношений, либо до прекращения деятельности Оператора.


Обработка персональных данных прекращается при наступлении одного из следующих событий:
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 
Порядок уничтожения персональных данных: 
Лицо, ответственное за обработку персональных данных, производит уничтожение данных при наступлении одного из событий: 
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно.

3.1.4. Цель: сбор обратной связи от получателей услуг Оператора для улучшения качества услуг Оператора, привлечения новых клиентов и повышения лояльности уже существующих клиентов:
Категории и перечень обрабатываемых персональных данных:
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
фото-видео изображение лица; 
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях; 
текст сообщения (если текст сообщения содержит персональные данные); 
информация об опыте получения услуг, потребителем которых Вы являлись (если такая информация содержит персональные данные).


Категории субъектов, персональные данные которых подлежат обработке:
контрагенты;
представители контрагентов;
клиенты/получатели услуг и Продукции;
законные представители;
пользователи  мессенджеров (Telegram,MAX) и социальных сетей;
выгодоприобретатели по договорам.

Способы обработки персональных данных: смешанная обработка персональных данных. 
Срок обработки и хранения персональных данных:  
до получения от субъекта персональных данных требования о прекращении обработки/отзыва согласия либо на срок действия договорных отношений, либо 3 (три) года после окончания таких договорных отношений, либо до прекращения деятельности Оператора.

Обработка персональных данных прекращается при наступлении одного из следующих событий:
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 
Порядок уничтожения персональных данных: 
Лицо, ответственное за обработку персональных данных, производит уничтожение данных при наступлении одного из событий: 
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно.

3.1.5. Цель: Продвижение товаров, работ, услуг на рынке:
Категории и перечень обрабатываемых персональных данных:
фамилия, имя, отчество;
адрес электронной почты;
номер телефона;
фото-видео изображение лица; 
ip-адрес;
аккаунт в мессенджерах (Telegram,  МАX) и социальных сетях. 

Категории субъектов, персональные данные которых подлежат обработке:
контрагенты;
представители контрагентов;
клиенты/получатели услуг и Продукции;
законные представители;
пользователи  мессенджеров (Telegram), МАX) и социальных сетей. 
выгодоприобретатели по договорам.

Способы обработки персональных данных: смешанная обработка персональных данных. 
Срок обработки и хранения персональных данных:  
до получения от субъекта персональных данных требования о прекращении обработки/отзыва согласия либо на срок действия договорных отношений, либо 3 (три) года после окончания таких договорных отношений, либо до прекращения деятельности Оператора.

Обработка персональных данных прекращается при наступлении одного из следующих событий:
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно. 
Порядок уничтожения персональных данных: 
Лицо, ответственное за обработку персональных данных, производит уничтожение данных при наступлении одного из событий: 
отзыв субъектом согласия на обработку данных; 
получение Оператором требования от субъекта о прекращении обработки данных; 
истечение 3 лет после прекращения договорных  отношений;
по достижении целей обработки, указанных в разделе 3 настоящей Политики, либо при утрате необходимости в их достижении (если нет других оснований для обработки, предусмотренных законодательством);
прекращение деятельности Оператора;
вступление в законную силу решения суда о прекращении оператором деятельности по обработке персональных данных;
выявлении неправомерной обработки, если обеспечить правомерность невозможно.

4. О технологии куки (cookie):
4.1.  Когда Субъект персональных данных посещает сервисы, используемые Оператором, Оператор может сохранять некую информацию на компьютере посетителя в виде файлов Cookies или иных сходных. Файлы Cookies – небольшие файлы с данными, которые направляются на жесткий диск компьютера с посещаемых сервисов. Файлы Cookies помогают настраивать сервис, таким образом, чтобы он максимально соответствовал интересам и потребностям посетителей сервиса.
4.2. Субъект персональных данных вправе запретить своему оборудованию прием этих данных или ограничить прием этих данных. При отказе от получения таких данных или при ограничении приема данных некоторые функции сервисов могут работать некорректно. Субъект персональных данных обязуется сам настроить свое оборудование таким способом, чтобы оно обеспечивало адекватный его желаниям режим работы и уровень защиты данных куки (cookie), а Оператор не предоставляет технологических и правовых консультаций на темы подобного характера. Для получения более подробной информации об этих функциях, посетителю следуют обратиться к инструкции по использованию интернет-браузера или к установленному в нем справочнику.
5. Безопасность при обработке персональных данных:
5.1.Оператор обеспечивает комплексную защиту персональных данных от любых незаконных действий, включая: 
Уничтожение или случайную утрату данных;
Несанкционированное изменение или использование;
Неправомерное распространение или доступ к данным. 

Для этого применяются следующие меры:
Издана настоящая Политика обработки персональных данных;
Осуществляется регулярная проверка процессов и документов Оператора на предмет их соответствия закону;
Ведется внутренний контроль за соблюдением требований к защите персональных данных; 
Применяются правовые, организационные и технические меры для обеспечения безопасности персональных данных, в том числе: 
-определение угроз безопасности персональных данных при их обработĸе в информационных системах персональных данных;
-установление правил доступа ĸ персональным данным, ĸонтроль за принимаемыми мерами по обеспечению безопасности персональных данных и уровнем защищенности информационных систем персональных данных;
-лица, непосредственно осуществляющие обработку персональных данных, ознакомлены с положениями законодательства Российской Федерации о персональных данных, в том числе с требованиями по защите персональных данных, документами, определяющими политику в отношении обработки персональных данных;
-разработĸа и утверждение доĸумента на согласие по обработĸе персональных данных;
-размещен документ, определяющий политику в отношении обработки персональных данных, и сведения о реализуемых требованиях к защите персональных данных;
-исĸлючение возможности неĸонтролируемого прониĸновения или пребывания посторонних лиц в помещения, где ведется работа с персональными данными;
-обеспечение сохранности носителей персональных данных и средств защиты информации;
-для обеспечения безопасности персональных данных применяются программно-технические средства;
-обеспечение наличия необходимых условий для работы с персональными данными;
-организован порядок уничтожения данных;
-установлен пароль на компьютере для доступа к персональным данным, а также установлено средство антивирусной защиты;
-обработка персональных данных осуществляется в местах, исключающих доступ посторонних, в том числе в запирающихся помещениях.

5.2.При обработке персональных данных в информационных системах Оператор соблюдает следующие требования безопасности: 
обеспечена безопасность помещений, в которых размещена информационная система;
назначено лицо, ответственное за обеспечение безопасности персональных данных в информационной системе. 
используются средства защиты информации, прошедшие процедуру оценки соответствия требованиям законодательства РФ в области обеспечения безопасности информации, в случае, когда применение таких средств необходимо для нейтрализации актуальных угроз.

5.3. По умолчанию персональная информация обрабатывается без доступа к ней кого-либо. В случае если такой доступ понадобится, то Оператор предоставляет доступ к персональным данным только тем лицам, которым эта информация необходима для обеспечения цели обработки. Для защиты и обеспечения конфиденциальности данных такие лица должны обязаться соблюдать правовые правила и процедуры, технические и организационные меры безопасности в отношении обработки персональной информации.
5.4. Как при обработке персональных данных без использования средств автоматизации, так и при автоматизированной обработке обеспечивается достаточная безопасность места, где происходит обработка персональных данных.
5.5. Тем не менее, несмотря на все возможные предпринятые со стороны Оператора меры безопасности, Оператор не может гарантировать полную безопасность от лиц, предпринимающих попытки несанкционированного доступа, в том числе путем перехвата данных по сети Интернет.
5.6. В случае, если кто-то попытается перехватить персональные данные, Оператор сообщает об инциденте в Уполномоченный орган по защите прав субъектов персональных данных в течение 24 (двадцати четырех) часов с момента происшествия об инциденте, его предполагаемой причине и вреде, причиненном субъекту персональных данных, о мерах по устранению последствий инцидента, а также в течение 72 (семидесяти двух) часов с момента инцидента провести внутреннее расследование и сообщить в Уполномоченный орган по защите прав субъектов персональных данных о результатах такого расследования и о виновниках (при наличии таковых).
5.7. Раскрытие персональных данных может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, и в иных предусмотренных законодательством Российской Федерации случаях.
5.8. Оператор не проверяет достоверность информации, предоставляемой Субъектом персональных данных, и исходит из того, что Субъект персональных данных предоставляет достоверную и достаточную информацию, заботится о своевременности внесения изменений в ранее предоставленную информацию, актуализирует информацию. Если данные являются неточными, неполными или устаревшими, Субъект персональных данных имеет право потребовать от Оператора исправления данных, касающихся Субъекта персональных данных.

 6. Хранение персональных данных:
6.1. Оператор осуществляет:
· сбор;
· запись;
· систематизацию;
· накопление;
· хранение;
· уточнение (обновление, изменение);
· использование;
· блокирование;
· удаление;
· уничтожение;
· обезличивание
персональных данных Субъектов с использованием баз данных, находящихся на территории России.
6.2. Для хранения данных используются центры обработки данных, находящиеся на территории: Россия, г. Москва.
6.3. Оператор осуществляет хранение данных в соответствии со сроками обработки данных, необходимыми для достижения целей обработки, указанных в разделе 3 настоящей Политики. 
6.4. Оператор не осуществляет трансграничную передачу персональных данных.
7. Отзыв согласия на обработку персональных данных/ответы на запросы субъектов на доступ к персональным данным:
7.1. Чтобы отозвать согласие на обработку персональных данных или получить информацию по вопросам персональных данных, необходимо обратиться к Оператору посредством электронной почты: info@shvedovaav.ru.
Срок ответа-5 рабочих дней с момента получения Оператором  письма от Субъекта персональных данных по электронной почте: info@shvedovaav.ru.

8. Актуализация, исправление, удаление и уничтожение персональных данных:

8.1.Подтверждение факта обработки персональных данных Оператором, правовые основания и цели обработки персональных данных, а также иные сведения, указанные в ч. 7 ст. 14 Закона о персональных данных, предоставляются Оператором Субъекту персональных данных или его представителю при обращении либо при получении запроса Субъекта персональных данных или его представителя.
В предоставляемые сведения не включаются персональные данные, относящиеся к другим Субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных.
Запрос должен содержать:
сведения, подтверждающие участие Субъекта персональных данных в отношениях с Оператором (дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных Оператором;
﻿﻿подпись Субъекта персональных данных или его представителя.
Запрос может быть направлен в форме электронного документа и подписан электронной подписью в соответствии с законодательством Российской Федерации.
Если в обращении (запросе) Субъекта персональных данных не отражены в соответствии с требованиями Закона о персональных данных все необходимые сведения или субъект не обладает правами доступа к запрашиваемой информации, то ему направляется мотивированный отказ.
Право Субъекта персональных данных на доступ к его персональным данным может быть ограничено в соответствии с ч. 8 ст. 14 Закона о персональных данных, в том числе если доступ Субъекта персональных данных к его персональным данным нарушает права и законные интересы третьих лиц.
8.2.В случае выявления неточных персональных данных при обращении Субъекта персональных данных или его представителя либо по их запросу или по запросу Роскомнадзора Оператор осуществляет блокирование персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения указанного запроса на период проверки, если блокирование персональных данных не нарушает права и законные интересы субъекта персональных данных или третьих лиц.
В случае подтверждения факта неточности персональных данных Оператор на основании сведений, представленных Субъектом персональных данных или его представителем либо Роскомнадзором, или иных необходимых документов уточняет персональные данные в течение семи рабочих дней со дня представления таких сведений и снимает блокирование персональных данных.
8.3. В случае выявления неправомерной обработки персональных данных при обращении (запросе) Субъекта персональных данных или его представителя либо Роскомнадзора Оператор осуществляет блокирование неправомерно обрабатываемых персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения запроса.
8.4. При достижении целей обработки персональных данных, а также в случае отзыва Субъектом персональных данных согласия на их обработку персональные данные подлежат уничтожению, если:
иное не предусмотрено договором, стороной которого  является Субъект персональных данных;
Оператор не вправе осуществлять обработку персональных данных без согласия Субъекта персональных данных на основаниях, предусмотренных Законом о персональных данных и иными нормативно-правовыми актами в соответствии с законодательством Российской Федерации;
иное не предусмотрено другим соглашением между Оператором  и  Субъектом персональных данных. 

9. Передача персональных данных третьим лицам и распространение персональных данных:
9.1. Оператор вправе осуществить передачу (способом доступа и предоставления) персональных данных следующим третьим лицам:
органам власти, правоохранительным органам, другим официальным или государственным органам или судам, которым Оператор обязан по запросу предоставлять информацию в соответствии с применимым законодательством;
иным  третьим лицам, которые оказывают  услуги Оператору для исполнения договора (платёжным сервисам для приёма оплаты, третьим лицам, оказывающим услуги по доставке Продукции Оператора Заказчику/Получателю за отдельную плату (курьерская доставка,включая, но не ограничиваясь: СДЭК, Boxberry, Почта России и др.), хостинг-провайдерам и IT-специалистам для технической поддержки Сайта и др.);
лицам, осуществляющим обеспечение правовой защиты Оператора или третьих лиц при нарушении их прав либо угрозе нарушения их прав, включая нарушение законов или регулирующих документов;
в случае если субъект персональных данных сам выразил согласие на передачу персональных данных третьему лицу, либо передача персональных данных требуется для оказания прямо запрошенной услуги/информации, а также для исполнения соглашения или договора, заключенного с Оператором. 
9.2. Оператор вправе осуществить передачу (способом распространения неограниченному кругу лиц) персональных данных в случаях, когда Субъект персональных данных сам разрешил свободное распространение категорий персональных данных неограниченному кругу лиц.
10. Порядок внесения изменений в Политику:
10.1. Оператор сохраняет за собой право вносить коррективы и дополнения в текст настоящей Политики.
10.2. Местом заключения соглашения и исполнения обязательств по настоящей Политике признается место государственной регистрации Оператора. Правоотношения между Оператором и Субъектом персональных данных регулируются законодательством Российской Федерации, независимо от места нахождения Субъекта или используемого им технического оборудования. Все возникающие споры и разногласия подлежат разрешению по месту регистрации Оператора, за исключением случаев, когда действующим законодательством установлена иная подсудность. 
10.3. Настоящая Политика вступает в силу с момента акцепта Субъектом персональных данных ее условий и действует на протяжении всего периода обработки персональных данных. Бессрочный характер действия Политики не отменяет установленных законодательством временных ограничений на обработку персональных данных. Досрочное прекращение действия Политики в одностороннем порядке не допускается.  
11.  Информация для реализации прав органа, уполномоченного в сфере персональных данных:
 В соответствии с подп. 6 п. 1. ст. 10.5 Федерального закона «Об информации, информационных технологиях и о защите информации», Оператор принимает юридически значимые сообщения от Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по следующему отдельному адресу электронной почты: info@shvedovaav.ru
12. Контакты с Оператором:
12.1. Информация для реализации прав субъекта персональных данных: 
Субъект персональных данных может реализовать все права, присущие субъекту персональных данных, а также получить разъяснения по вопросам, касающимся обработки персональных данных, обратившись к Оператору по адресу электронной почты Оператора: info@shvedovaav.ru. 
12.2. Ответственным за обработку персональных данных является Оператор.

13.  Порядок отзыва согласия на обработку персональных данных
13.1. Субъект персональных данных вправе в любой момент отозвать свое согласие на обработку персональных данных.
13.2. Отзыв согласия может быть осуществлен одним из следующих способов:
Авторизованным способом:  через Личный кабинет на сайте:https://shvedovaav.ru/. После входа с использованием учетной записи (адреса электронной почты и пароля), используемой при оформлении заказа, необходимо нажать кнопку «Отозвать согласие на обработку данных».
Письменным заявлением: путем направления письменного заявления (запроса) на адрес электронной почты Оператора: info@shvedovaav.ru
Устным обращением: путем телефонного обращения по номеру: 8-906-911-59-88 с последующей обязательной письменной идентификацией.


13.3. В случае утери пароля от Личного кабинета его можно восстановить с помощью функции «Забыли пароль» на странице входа.
13.4. Оператор обязуется рассмотреть запрос на отзыв согласия и полностью прекратить обработку и уничтожить персональные данные в срок, не превышающий 30 (тридцати) календарных дней с момента подтверждения личности Субъекта и получения запроса, если иное не предусмотрено действующим законодательством Российской Федерации.

14.Сведения о документе:
14.1. Дата публикации настоящей редакции документа: 
 Реквизиты Оператора:

Ответственный за обработку персональных данных
Индивидуальный предприниматель Шведова Анна Владимировна
Адрес электронной почты:
info@shvedovaav.ru
ИНН/ОГРН
246206406670/324508100151690

</pre>

</div>
{% endblock %}