{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="form">
    <div class="container">
    <div class="form__title">Запись на мероприятие</div>
        <div class="form__body">
   
        <form action="" method="post">
            {% csrf_token %}
            <div class="form__item">{{ form.non_field_errors}}</div>
            {% for field in form %} 
            <div class="form__item">
                {% if field.name == 'personal_data_accepted' %}
                <p> Я даю <a href="{% url 'accord_pd' %}">Согласие на обработку персональных данных</a> в соответствии с <a href="{% url 'confidence' %}">Политикой конфиденциальности</a></p>
                <br />
                {{ field }} {{field.errors}}
                {% elif field.name == 'personal_data_transfer_accepted' %}
                <p> Я даю <a href="{% url 'accord_ttp' %}">Согласие на передачу персональных данных третьим лицам</a> в соответствии с <a href="{% url 'confidence' %}">Политикой конфиденциальности</a></p>
                <br />
                {{ field }} {{field.errors}}
                {% elif field.name == 'send_messages_accepted' %}
                <p> Я даю <a href="{% url 'accord' %}">Согласие на получение рекламных и информационных сообщений</a> </p>
                <br />
                {{ field }} {{field.errors}}
                {% elif field.name == 'users_agreement_accepted' %}
                <p> Я принимаю условия <a href="{% url 'terms_of_use' %}">Публичной оферты</a> </p>
                <br />
                {{ field }} {{field.errors}}
                {% elif field.name == 'password1' or field.name == 'password2' %}
                {{ field }} {{field.errors}}
                {% else %}
                {{ field.label }}<br />
                {{ field }} {{field.errors}}
                {% endif %}
                </div>
            {% endfor %}
            
            <div class="form__item">
            <input class="btn__input" type="submit" value="Записаться"/>
            </div>
        </form>
    
        </div>
    </div>
    
    </div>
{% endblock %}