{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="container">
    <pre style="white-space: pre-wrap;">
    <b>ПУБЛИЧНАЯ ОФЕРТА 
о заключении договора на оказание услуг</b>

1. Общие положения:
1.1. Настоящий Договор является публичным договором (публичной офертой) на основании пункта 2 статьи 437 Гражданского кодекса Российской Федерации со стороны ИП Шведовой Анны Владимировны (ИНН: 246206406670,ОГРНИП: 324508100151690) (далее — «Исполнитель»), в адрес любого физического лица/индивидуального предпринимателя/юридического лица, выразившего готовность воспользоваться услугами Исполнителя и принять условия настоящего Договора (далее — «Заказчик»). 
1.2. Полным и безоговорочным акцептом настоящей публичной оферты считается осуществление Заказчиком совокупности следующих действий:
-заполнение формы регистрации на Сайте:https://shvedovaav.ru/
-проставление отметки (символа «галочка») в поле слева от фразы «Выражаю согласие с условиями Оферты» на Сайте: https://shvedovaav.ru/
-согласие на обработку Исполнителем персональных данных Заказчика путём проставлении галочки в поле «Нажимая кнопку, я принимаю условия Публичной оферты и даю согласие на обработку моих персональных данных в соответствии с Политикой конфиденциальности»;
-полная или частичная оплата услуг в соответствии с условиями настоящего Договора.
Оплата стоимости Услуг Заказчиком считается безоговорочным акцептом настоящего Договора, независимо от размера переведенной суммы.
С момента поступления денежных средств в счет оплаты услуг на расчетный счет Исполнителя, настоящий договор считается заключенным между Заказчиком и Исполнителем.
Акцептом настоящего Договора также является внесение первого платежа при оплате услуг в рассрочку в соответствии с положениями Договора. 
В отношении Услуг/Продукции, предлагаемых Исполнителем по акциям (специальным предложениям при их наличии) с условиями оплаты частями, полным и безоговорочным акцептом настоящего Договора является осуществление Заказчиком оплаты первой части от согласованной сторонами суммы.
С момента совершения акцепта Заказчик считается ознакомившимся и согласившимся с настоящей публичной Офертой и, в соответствии с Гражданским Кодексом РФ, считается вступившим с Исполнителем в договорные отношения в соответствии с условиями Договора.
Совершая акцепт, Заказчик подтверждает, что в полном объеме ознакомлен и согласен с условиями настоящей Оферты.
1.3. Акцепт Оферты является подтверждением того, что все и любые условия Оферты принимаются Заказчиком целиком и полностью без каких-либо оговорок и ограничений, при этом Акцепт Оферты подтверждает, что Заказчику понятны все условия оказания Услуги/заказа Продукции, что Заказчик воспользовался правом получить у Исполнителя все и любые разъяснения относительно условий оказания Услуг/заказа Продукции, а также подтверждает то, что условия оказания Услуг/заказа Продукции в Оферте полностью соответствуют воле, потребностям и требованиям Заказчика. Акцепт Оферты означает, что Оферта не содержит указанных в п. 2 ст. 428 Гражданского кодекса условий, а равно не содержит иных явно обременительных для Заказчика условий, которые Заказчик, исходя из своих разумно понимаемых интересов, не принял бы при наличии у него возможности участвовать в определении условий Оферты, а Услуги, указанные в настоящей Оферте, не являются навязанными Заказчику.
Заполнение формы регистрации однозначно идентифицирует лицо, ее заполнившее, как Заказчика. Совершая действия по акцепту настоящего публичного Договора, Заказчик подтверждает свою правомерность, полномочия, дееспособность, а также законное право вступать в договорные отношения с Исполнителем.
Заказчик выражает согласие с тем, что добровольно предоставляет Исполнителю свои персональные данные в соответстви с Политикой обработки данных, размещенной по адресу: https://shvedovaav.ru/
Клиент дает согласие  обработку персональных данных по ссылке, размещенной по  адресу: https://shvedovaav.ru/
Указанные данные необходимы для оказания Услуг в рамках Оферты. Персональные данные Клиента обрабатываются в соответствии с Федеральным Законом «О персональных данных» № 152-ФЗ от 27.07.2006.
Согласие на обработку персональных данных  может быть отозвано Заказчиком в любое время посредством направления отзыва согласия на почтовый адрес Испол
1.4.  Исполнитель оставляет за собой право в одностороннем порядке изменять условия настоящей Оферты. Изменения вступают в силу с момента их публикации на сайте: https://shvedovaav.ru/
1.5. Осуществляя акцепт настоящей оферты, Заказчик подтверждает, что оказание Исполнителем услуг по настоящему договору дистанционно полностью соответствует возможности Заказчика пользоваться услугами, оказываемыми таким способом.
1.6. Публичный договор, совершенный в вышеописанном порядке, считается заключенным в простой письменной форме, не требует оформления на бумажном носителе и обладает полной юридической силой. 
1.7. Исполнитель вправе поручить исполнение отдельных обязательств по Договору привлекаемым третьим лицам (субподрядчикам). Ответственность за общее надлежащее исполнение условий Договора в полном объеме несет Исполнитель. 

 2. Термины и определения:
2.1. «Исполнитель» — Индивидуальный предприниматель Шведова Анна  Владимировна (ИНН: 246206406670,ОГРНИП: 324508100151690).
2.2. Заказчик – физическое лицо, индивидуальный предприниматель или юридическое лицо, намеренное получить Услугу Исполнителя и/или заказать продукцию, заключившее Договор с Исполнителем в электронной форме в результате Акцепта Оферты и, тем самым, получившее право получать Услуги Исполнителя.
2.3. Получатель – физическое лицо, индивидуальный предприниматель или юридическое лицо, указанное в качестве получателя продукции Исполнителя. Получателем может выступать Заказчик или иное, указанное им лицо.
2.4. Сайт – совокупность информации, текстов, графических элементов, дизайна, изображений, фото и видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу  https://shvedovaav.ru/ и  всех его поддоменах.
 Все материалы (тексты, рисунки, фотографии и пр.), размещенные на Сайте, являются интеллектуальной собственностью Исполнителя и защищены в соответствии с действующим законодательством Российской Федерации. Сайт разработан и принадлежит Исполнителю.
2.5.Услуга–предоставление на возмездной основе информационно-консультационных услуг в форме предоставления доступа к видеозаписям,аудиозаписям, текстовым материалам. Описание конкретной услуги указано на сайте Исполнителя https://shvedovaav.ru/.
Услугами в рамках настоящего Договора являются информационно-консультационные услуги, оказываемые в онлайн-формате (включая, но не ограничиваясь, проведение онлайн-курсов, вебинаров, марафонов, предоставление доступа к закрытым информационным материалам). Полное описание Услуг, их объём, формат и сроки оказания указаны на Сайте Исполнителя в описании соответствующего продукта на Сайте Исполнителя: https://shvedovaav.ru/.
2.6. Продукция – принадлежащие Исполнителю печатные издания (книги, рабочие тетради, методические пособия и др. ), а также комплекты, сочетающие печатное издание и предоставление доступа к цифровым материалам (т.н. «книга-курс»), предлагаемые к продаже Исполнителем. Исчерпывающая информация о составе, характеристиках, а также о входящих в комплект элементах (печатные и цифровые компоненты) публикуется в виде электронной карточки (описания) в каталоге на Сайте Исполнителя: https://shvedovaav.ru/. Вся Продукция охраняется авторским правом, правообладателем которого является Исполнитель.
2.7. Заказ – совокупность действий Заказчика, направленных на приобретение Продукции/Услуг, включающая выбор на Сайте, заполнение  формы на Сайте с указанием необходимых сведений и Получателя, и внесение  оплаты в соответствии с согласованным сторонами  способом.
2.8. Обратная связь – услуга в форме письменных или устных ответов на вопросы Заказчика по теме онлайн-курса/вебинара/марафона, осуществляемая через мессенджеры Telegram, MAX,социальную сеть ВКонтакте, Одноклассники, Rutube и другие социальные сети по выбору Исполнителя.
2.9. Служба доставки – третье лицо, оказывающее услуги по доставке Продукции Заказчику/Получателю за отдельную плату (курьерская доставка,включая, но не ограничиваясь: СДЭК, Boxberry, Почта России и др.) в зависимости от региона доставки. Исполнитель оставляет за собой право выбора конкретного перевозчика.
2.10. Плательщик – физическое лицо, индивидуальный предприниматель или юридическое лицо, которое оплатило стоимость услуг и/или Продукции.
2.11. Персональные данные—любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу/юридическому лицу (субъекту персональных данных) в соответствии с требованиями Федерального Закона № 152-ФЗ от 27 июля 2006 года «О персональных данных». 
3. Предмет Договора:
3.1. Исполнитель обязуется передать Заказчику Продукцию и/или оказать информационно-консультационные Услуги, выбранные Заказчиком при оформлении Заказа на Сайте Исполнителя  https://shvedovaav.ru/, а Заказчик обязуется оплатить и принять Товар и/или Услуги в соответствии с условиями настоящего Договора.
3.2. Заказчик согласует с Исполнителем выбранные Услуги/Продукцию, их стоимость, условия предоставления путем заполнения соответствующих данных на Сайте Исполнителя для предоставления услуг/заказа Продукции, либо путем обращения к Исполнителю  в мессенджеры (Telegram,MAX).)
Заказчик подтверждает, что до момента заключения Договора (акцепта настоящего Договора) получил от Исполнителя всю полную информацию о сроках, содержании, порядке оказания услуг/заказа Продукции. 
3.3. Клиент дает добровольное информированное согласие на оказание ему услуг/заказ Продукции  на платной основе.
3.4. Перечень оказываемых Услуг/Продукции опубликован на Сайте,а также приведен в Приложении, являющимся неотъемлемой частью настоящей оферты.
В рамках настоящего договора Заказчику в зависимости от выбранной Услуги/Продукции  предоставляется:
доступ к эфирам/вебинарам;
 обратная связь, если Заказчик приобрел тариф с обратной связью;
 текстовые материалы;
другие материалы.
Обратная связь предоставляется с 10:00 до 18:00 по Московскому времени ежедневно, кроме выходных и праздничных дней, в течении 48 часов с момента публикации Заказчиком вопроса.


3.5.  Заказчик обязуется предоставить достоверные данные, необходимые и достаточные для исполнения обязательств по настоящему Договору.
3.6. Публичная Оферта и приложение к ней являются официальными документами и публикуются на Интернет-ресурсе по адресу: https://shvedovaav.ru/.
Исполнитель имеет право в любой момент изменять условия настоящего публичного Договора в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий в Интернете на Сайте, указанном в настоящем Договоре.
4. Права и обязанности Исполнителя:
4.1. Исполнитель обязан:
Оказывать Услуги качественно и в сроки, установленные Договором.
Передать Заказчику Продукцию, соответствующую описанию, характеристикам и изображению, представленным на Сайте Исполнителя в момент оформления Заказа в соответствии с условиями настоящего Договора.
Сообщать Заказчику сведения о ходе исполнения условий Договора на основании направляемых требований.
Изучать представленные Заказчиком информацию и документы, необходимые для оказания Услуг/заказа Продукции, информировать Клиента о возможных вариантах оказания Услуг/заказа Продукции.
Обеспечить сохранность документов, а также конфиденциальность информации, полученных от Заказчика  в связи с исполнением условий Договора.
Информировать Заказчика о любых событиях и обстоятельствах, которые могут не позволить Исполнителю оказать услуги/заказать/доставить Продукцию, являющиеся предметом настоящего Договора.
Осуществить передачу Продукции Заказчику в согласованные Сторонами сроки посредством доставки (в том числе с привлечением третьих лиц и служб доставки) или обеспечить ее доступность для самовывоза.
Предоставить информацию о порядке и сроках возврата Продукции  надлежащего качества  в соответствии со ст. 26.1 Закона прав потребителей;
Соблюдать требования законодательства, касающиеся обработки, передачи и защиты персональных данных Заказчика.
          Исполнитель не гарантирует соответствие содержания оказываемых по Договору услуг ожиданиям Заказчика. 
4.2. Исполнитель вправе:
Не приступать к оказанию услуг/передаче Продукции либо приостановить оказание услуг и доступ Заказчика к материалам, входящим в состав услуг,  до устранения соответствующего нарушения при наличии любого из следующих оснований:
-нарушения Заказчиком сроков и иных условий оплаты услуг по настоящему Договору;
-предоставления неполной и (или) недостоверной информации о Заказчике;. 

Осуществлять действия, направленные на создание обновлений, модификаций и (или) усовершенствований материалов. 
Приостанавливать работу аппаратных средств при помощи которых предоставляется доступ к материалам при обнаружении существенных неисправностей, ошибок и сбоев, а также в целях проведения профилактических работ и предотвращения случаев несанкционированного доступа к ним в любое время по собственному усмотрению и (или) во время возникновения такой необходимости. Указанные случаи отсутствия у Заказчика доступа к материалам Услуг в течение 48 часов не являются не исполнением Исполнителем обязательств по Договору.
В одностороннем порядке изменять и дополнять условия настоящего договора, без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте: https://shvedovaav.ru/ не менее чем за один день до их введения в действие.
В одностороннем порядке расторгнуть настоящий договор в случае существенного нарушения Заказчиком условий настоящего Договора. При этом денежные средства, оплаченные Заказчиком по настоящему договору, возврату не подлежат и являются штрафной неустойкой за действия Заказчика. 

Под существенным нарушением условий настоящего Договора понимается любое нарушение авторских прав, регламентированных действующим законодательством РФ "Об авторском праве", в том числе однократное нарушение Заказчиком п. 5.3. настоящего договора.

5. Права и обязанности Заказчика :
5.1. Заказчик  обязуется: 
-Предоставлять Исполнителю по запросу, а также путем заполнения формы сбора данных на Сайте по адресу:https://shvedovaav.ru/ достоверные сведения и данные, необходимые для надлежащего исполнения Исполнителем своих обязательств. 
-Самостоятельно согласовывать все условия оказания Услуг/заказа Продукции с Исполнителем (стоимость, формат, сроки оказания услуги, доставки Продукции, порядок оплаты). 
-Производить оплату услуг Исполнителю напрямую согласованным с Исполнителем способом. 
-Не использовать Сайт Исполнителя для целей, запрещенных законодательством РФ.
-Общаться с Исполнителем и другими лицами в процессе исполнения настоящего Договора корректно и не допуская цензурной лексики.
-Для получения доступа к Услугам/Продукции самостоятельно настроить программное обеспечение своего персонального компьютера, телефона и(или) иных технических средств, используемых для получения Услуг/Продукции, таким образом, чтобы иметь возможность беспрепятственно пользоваться всеми сервисами, используемыми в ходе оказания услуг.


5.2. Заказчик вправе:
Получать Услуги и/или Продукцию надлежащего качества, соответствующие описанию, размещенному на Сайте, в полном объеме и в согласованные сроки.
Требовать от Исполнителя исполнения обязательств в соответствии с условиями настоящего Договора.
Получать от Исполнителя полную и достоверную информацию, касающуюся организации, сроков и условий оказания Услуг или передачи Продукции.
Обращаться к Исполнителю с вопросами и запросами по существу исполнения Договора через согласованные Сторонами каналы связи.
Отказаться от исполнения Договора в одностороннем порядке до момента полной или частичной оплаты Услуг/Продукции, направив Исполнителю соответствующее письменное уведомление на адрес электронной почты: info@shvedovaav.ru. Договор считается расторгнутым со дня, следующего за днем получения такого уведомления Исполнителем.
Осуществлять иные права, предусмотренные действующим законодательством Российской Федерации и настоящим Договором.


5.3. Заказчик не вправе:
Обходить технические ограничения, установленные на платформах, используемых Исполнителем для оказания услуг по настоящему Договору.
Изучать технологию, декомпилировать или дизассемблировать Сайт Исполнителя, Интеллектуальную собственность Исполнителя, любые материалы, доступ к которым получен Заказчиком в ходе оказания услуг Исполнителем в рамках настоящего Договора. Заказчик не вправе изменять каким бы то ни было способом программную часть Сайта, совершать действия, направленные на изменение функционирования и работоспособности Сайта.
Создавать копии Сайта Исполнителя, интеллектуальной собственности Исполнителя, любых материалов, входящих в состав оказываемых по настоящему Договору услуг, а также копировать их внешнее оформление (дизайн).
Предоставлять доступ к интеллектуальной собственности, личному кабинету и любым материалам, входящим в состав оказываемых по настоящему Договору услуг третьим лицам в отсутствие прямого письменного согласия на такой доступ со стороны Исполнителя, а также должен обеспечивать конфиденциальность паролей доступа к личному кабинету при его использовании в ходе исполнения обязательств по настоящему Договору. 
Создавать производную или аналогичную Продукцию/Услуги, распространять, передавать третьим лицам или иным образом использовать частично или полностью материалы и содержание Сайта и курсов, пакетов услуг.
Осуществлять запись, распространять (публиковать, размещать на Интернет-сайтах, копировать, передавать или перепродавать третьим лицам) в коммерческих или некоммерческих целях предоставляемую Исполнителем Заказчику информацию и материалы в рамках настоящего договора, создавать на ее основе информационные продукты с целью извлечения коммерческой прибыли, а также использовать эту информацию каким-либо иным образом, кроме как для личного пользования. 


5.4. В случае отказа Заказчика от Договора до полного исполнения сторонами обязательств, Исполнитель обязан возвратить Заказчику уплаченную сумму за вычетом фактически понесенных им расходов, связанных с исполнением обязательств по настоящему Договору. Денежные средства Заказчику не возвращаются в случае нарушения Заказчиком существенных условий настоящего Договора,предусмотренных п. 4.1  настоящего Договора.


5.4. Под фактически понесенными расходами понимаются документально подтвержденные затраты Исполнителя, возникшие до момента получения уведомления об отказе, включая, но не ограничиваясь: расходы на оплату услуг субподрядчиков, стоимость материалов, банковские комиссии и иные прямые расходы.


6. Стоимость Услуг/Продукции  и порядок оплаты:
6.1. Стоимость Услуг/Продукции определяется в соответствии с актуальными ценами, указанными на Сайте Исполнителя, и согласовывается с Заказчиком при оформлении Заказа.
Стоимость Услуг/Продукции по настоящему договору может быть изменена Исполнителем в любое время в одностороннем порядке. Новая стоимость вступает в силу с момента опубликования на Сайте:https://shvedovaav.ru/  и не распространяется на оплаченные к моменту опубликования Услуги/Продукции.
Стоимость услуг/Продукции не включает комиссию, взимаемую банками или платежными системами за проведение платежа. Комиссионные расходы (при наличии таковых) Заказчик оплачивает дополнительно, при этом стоимость услуг/Продукции определяется как разница суммы совершенного пользователем платежа и суммы удержанной комиссии.
6.2. Исполнитель вправе требовать внесения предоплаты в размере до 100% стоимости до начала оказания Услуг/заказа Продукции.
6.3. Размер предоплаты согласовывается Сторонами при оформлении Заказа и указывается в подтверждении заказа в мессенджерах (Telegram MAX).
6.4. В случае изменения объема работ или дополнительных пожеланий Заказчика в процессе выполнения услуг/передачи Продукции, стоимость Услуг/Продукции подлежит пересмотру и дополнительному согласованию Сторонами.
6.5. Все расчеты по Договору производятся в рублях Российской Федерации.
6.6. Оплата производится Заказчиком путем безналичного перечисления денежных средств на расчетный счет Исполнителя либо иными способами, предложенными на Сайте.
6.7.  Оплата Услуг/Продукции по настоящему Договору может быть произведена одним из следующих способов по выбору Заказчика:
-в виде 100% единовременной оплаты стоимости выбранных Услуг/Продукции  до начала оказания услуг/Продукции.  
В случае, если Исполнитель предлагает возможность оплаты в рассрочку - путем оплаты стоимости услуги/Продукции в рассрочку в следующем порядке:
-первый платеж - 50% стоимости Услуги/Продукции до его начала;
-второй платеж - 50% стоимости услуг не позднее чем через 2 недели после получения доступа к материалам Услуги/Продукции.
6.8.Стороны вправе по электронной почте/через мессенджеры (Telegram MAX)  согласовать иной порядок оплаты Услуг/Продукции, предоставления рассрочки, чем тот, что указан в п. 6.7. Договора.


7. Условия оформления и сроки выполнения оказания услуг/  заказа Продукции:
7.1. Заказ может быть оформлен Заказчиком следующими способами:
–самостоятельно через веб-интерфейс на Сайте путем заполнения формы;
–посредством отправки электронного письма на адрес электронной почты: info@shvedovaav.ru, указанный на Сайте, с последующим оформлением заказа через веб-интерфейс на Сайте;
-обращение к Исполнителю с последующим оформлением заказа через мессенджер (Telegram MAX), указанный на Сайте, с последующим оформлением заказа через веб-интерфейс на Сайте. 
7.2. Заказчик может заказать только те Услуги/Продукцию,которые есть в наличии у Исполнителя в момент оформления Заказа на Сайте.  Заказчик может самостоятельно ознакомиться с информацией о наличии Услуг/Продукции через мессенджер Исполнителя (Telegram,MAX). 
7.3. Если Заказ оформлен в нерабочее время или в выходные и праздничные дни, то Заказ поступает в обработку в течение 5 часов первого рабочего дня, следующего за нерабочим, выходным или праздничным днем.
7.4. Услуги/доступ к цифровым материалам Продукции по настоящему Договору оказываются дистанционно при помощи Сети Интернет. 
В течение 4 рабочих дней с даты согласования  и оплаты заказа Продукции Исполнитель передает Продукцию в виде печатных компонентов субподрядчику для последующей доставки.
7.5. Сроки получения Продукции  Получателем зависят от адреса и региона доставки, работы Службы доставки и напрямую не зависят от Исполнителя.
7.6. Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Услуг/ Продукции.
7.7. Заказчик информирован и согласен, что в процессе печати Продукции возможны технологические отклонения, не являющиеся браком.
Финальная цветопередача и качество печати Продукции определяются технологиями и материалами привлекаемых Исполнителем третьих лиц.
7.8. В случае возникновения у Заказчика вопросов, касающихся свойств и характеристик Продукции, перед оформлением Заказа Заказчик должен обратиться к Исполнителю при помощи указанного на Сайте исполнителя мессенджера (Telegram,MAX) или электронной почты: info@shvedovaav.ru,
7.9. Коммуникация Исполнителя и Заказчика, в том числе по согласованию условий/хода оказания услуг/заказа Продукции, осуществляется по мессенджеру  (Telegram,MAX). 
7.10. В момент передачи Продукции  в виде печатных компонентов (при доставке курьером или в пункте выдачи) Покупателю в письменной форме предоставляется информация о порядке и сроках возврата Продукции. Данный документ (Оферта) является такой информацией.
7.11. Заказчик подтверждает, что результатом Продукции может являться  печатное изделие, имеющее индивидуально-определенные свойства. Незначительные отклонения от макета (в цвете, расположении, глубине тиснения и пр.), не влияющие на функциональность или художественное восприятие, не считаются недостатками и не считается браком. 
Под браком понимаются существенные производственные дефекты, делающие Продукцию непригодной для использования (например, смазанная нечитаемая печать, физические повреждения от производителя).
7.12. Возврат Продукции ненадлежащего качества возможен при подтверждении брака. Допустимые отклонения, обусловленные спецификой материалов и технологии, а также расхождения с визуализацией, не являются браком.
7.13. Возврат Продукции надлежащего качества возможен при условии сохранения его товарного вида, потребительских свойств и документа, подтверждающего покупку (или иных доказательств). 
      7.14. Возврат денежных средств осуществляется Исполнителем  в течение 10 рабочих дней с момента получения письменного заявления от Заказчика по электронной почте Исполнителя:  info@shvedovaav.ru. 
7.15.  Услуги и Продукция считаются оказанными/переданными надлежащего качества, в полном объеме и принятыми Заказчиком без претензий при одновременном соблюдении следующих условий:
В отношении Услуг и цифровых компонентов Продукции – если в течение 3 (трех) календарных дней с момента предоставления Заказчику доступа к ним не поступило мотивированного письменного возражения.
В отношении печатных компонентов Продукции (физических носителей) – если в течение 3 (трех) календарных дней с момента получения Заказчиком или указанным им Получателем не поступило мотивированного письменного возражения.
Все возражения о качестве, объеме или комплектности направляются исключительно на адрес электронной почты Исполнителя:  info@shvedovaav.ru
   7.16.  Заказчик гарантирует, что обладает необходимыми правами на все переданные Исполнителю материалы и несет полную ответственность за возможные претензии третьих лиц.
  7.17. Расходы на доставку при возврате печатных компоненто Продукции надлежащего качества несет Заказчик. 
   7.18. Сроки оказания Услуг (сроки доступа к материалам, обратной связи) указываются Исполнителем в мессенджерах (Telegram,MAX), а также на Сайте. 


8. Ответственность Сторон:
8.1. Исполнитель не несет ответственности за неисполнение или ненадлежащее исполнение своих обязательств, вызванное действиями или бездействием Заказчика.
8.2. Исполнитель не несет ответственности за ущерб, прямой или косвенный, причиненный Заказчику в результате использования или невозможности использования услуг/Продукции.
8.3. Заказчик несет ответственность за достоверность предоставленных данных и за нарушение условий настоящего Договора.
8.4. В случае, когда невозможность исполнения обязательств по настоящему Договору возникла по обстоятельствам непреодолимой силы, которые ни одна из сторон не могла ни предвидеть, ни предотвратить, Исполнитель и Заказчик освобождаются от ответственности за частичное или полное неисполнение обязательств.
8.5. Исполнитель не несет ответственности за последствия, связанные с умышленным или неумышленным предоставлением Заказчиком сведений и документов, содержащих недостоверную или неактуальную информацию.
8.6. Исполнитель не несёт ответственности за действия третьих лиц (включая партнеров и Службы доставки).
8.7. При подтверждении производственного брака печатных компонентов Продукции ответственность за устранение недостатков возлагается на соответствующего субподрядчика, осуществлявшего печать.
8.8. Срок устранения брака определяется субподрядчиком и сообщается Заказчику через Исполнителя в разумные сроки, но не позднее 3 рабочих дней с момента подтверждения брака.
8.9. Исполнитель организует взаимодействие с субподрядчиком по устранению брака, но не несет ответственности за сроки выполнения работ субподрядчиком.
8.10. Обязательства Исполнителя по срокам устранения брака считаются исполненными с момента принятия претензии субподрядчиком и начала работ по устранению недостатков Продукции.
8.11. Право собственности на печатные компоненты Продукции и риск его случайной утраты или повреждения переходят к Заказчику с момента их передачи   в службу доставки. Исполнитель не несет ответственности за сохранность Продукции, сроки и качество доставки.
8.12. Размер ответственности Исполнителя за нарушение условий настоящей оферты ограничен стоимостью соответствующего услуг, за исключением случаев, прямо предусмотренных законодательством Российской Федерации. 


9. Конфиденциальность:
9.1. Исполнитель обязуется обеспечивать защиту персональных данных Заказчика в соответствии с законодательством РФ и опубликованной Политикой конфиденциальности по адресу: https://shvedovaav.ru/.
9.2. Предоставляя свои персональные данные Исполнителю, Заказчик соглашается на их обработку Исполнителем, как это указано в ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г., в целях выполнения И. сполнителем обязательств перед Заказчиком в рамках настоящего Договора.


10. Заключительные положения:
10.1. Настоящий Договор вступает в силу с момента акцепта Заказчиком и действует до полного исполнения Сторонами обязательств.
10.2. Все споры и разногласия решаются путем переговоров Сторон. При недостижении согласия споры подлежат разрешению в суде по месту нахождения Исполнителя.
10.3. Вопросы, не урегулированные настоящим Договором, регулируются в соответствии с действующим законодательством Российской Федерации.



Реквизиты Исполнителя:



Исполнитель
Индивидуальный предприниматель Шведова Анна Владимировна
Адрес электронной почты:
info@shvedovaav.ru
ИНН/ОГРН
246206406670/324508100151690







Приложение № 1
к Публичной оферте о заключении договора на оказание услуг


Настоящим Приложением определяются наименование, основная характеристика и стоимость услуг и продукции, предлагаемых Исполнителем.
1. Информационно-консультационные услуги:
Клуб: "Авторская Школа Анны Шведовой"
Комплексная долгосрочная  программа, включающая следующие тематические блоки:
«Мир во мне»: Понимание себя и своих «хочу», умение чувствовать жизнь.
«Здоровье»: Осознанное питание и энергия жизни.
«Воплощение желаний и мечт»: Творческая визуализация.
«Изобильное мышление»: Финансовое благополучие.


Стоимость: Устанавливается в соответствии с актуальным предложением на Сайте Исполнителя на момент акцепта Оферты.
 Примечание: Точный состав программы, формат, продолжительность и условия доступа определяются в описании на Сайте.
2. Отдельные продукты и курсы:
2.1. Курс  «Звучать собою».
 Описание: Продукт, включающий методические материалы по заявленной теме.
 Стоимость: 10 000 (Десять тысяч) рублей 00 копеек.

2.2. Курс «Привычки».
 Описание:  курс по формированию и изменению привычек.
 Стоимость: 2 500 (Две тысячи пятьсот) рублей 00 копеек.

2.3. Курс «Возвращение к себе».
Описание:  курс по самопознанию и личностному развитию.
Стоимость: 10 000 (Десять тысяч) рублей 00 копеек.

2.4. Курс «Искусство коммуникации».
 Описание:  курс по развитию навыков общения.
Стоимость: 990 (Девятьсот девяносто) рублей 00 копеек.
3. Мероприятия (с фиксированной датой):
3.1. Онлайн-встреча по продукту «Звучать собою».
Описание: Разовое онлайн-мероприятие, посвященное разбору и обсуждению продукта «Звучать собою».
Стоимость: Входит в стоимость продукта «Звучать собою» (п. 2.1) или определяется отдельно на Сайте.
3.2. Онлайн-встреча по курсу «Привычки».
Описание: Разовое онлайн-мероприятие в рамках курса «Привычки».
Стоимость: Входит в стоимость курса «Привычки» (п. 2.2) или определяется отдельно на Сайте.
3.3. Онлайн-встреча по курсу «Возвращение к себе».
Описание: Разовое онлайн-мероприятие в рамках курса «Возвращение к себе».
Стоимость: Входит в стоимость курса «Возвращение к себе» (п. 2.3) или определяется отдельно на Сайте.
3.4. Онлайн-встреча по курсу «Искусство коммуникации».
Описание: Разовое онлайн-мероприятие в рамках курса «Искусство коммуникации».
Стоимость: Входит в стоимость курса «Искусство коммуникации» (п. 2.4) или определяется отдельно на Сайте.
4. Заключительные положения:
4.1. Актуальные цены, подробные описания, даты и время проведения мероприятий, а также полный перечень доступных услуг и продукции в обязательном порядке публикуются на Сайте  Исполнителя: https://shvedovaav.ru.
4.2. В случае возникновения разночтений между условиями настоящего Приложения и информацией, размещенной на Сайте, приоритет имеет информация на Сайте, действующая на момент оформления Заказа Заказчиком.
4.3. Исполнитель оставляет за собой право в одностороннем порядке изменять стоимость услуг и продукции, а также условия их оказания/реализации, путем опубликования новой редакции Приложения и/или обновления информации на Сайте. 


</pre>
    </div>
    {% endblock %}