{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Публичная оферта о заключении договора возмездного оказания комплекса образовательных услуг</h1>
     
    
     <br/> <br/>
    
    <h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
    
    <br/> <br/>
    
    1.1. Настоящая публичная оферта о заключении договора возмездного оказания комплекса образовательных услуг онлайн-школы «Авторская Школа Анны Шведовой» (далее – «Оферта» или «Договор») представляет собой официальное предложение индивидуального предпринимателя Ушаковой Людмилы Евгеньевны (ИНН 246209171962), индивидуального предпринимателя Шведовой Анны Владимировны ( ИНН 246206406670), именуемой «ИСПОЛНИТЕЛЬ», любому дееспособному физическому лицу, действующему от своего имени или в интересах третьего лица, далее именуемому «ЗАКАЗЧИК», заключить договор возмездного оказания образовательных услуг.
    <br/>1.2. В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (далее – ГК РФ) данный документ является публичной Офертой и в случае принятия изложенных ниже условий и оплаты услуг Исполнителя лицо, осуществившее Акцепт настоящей Оферты, становится Заказчиком. В соответствии с ч. 1 ст. 438 ГК РФ Акцепт должен быть полным и безоговорочным.
    <br/>1.3. Осуществляя оплату услуг, Заказчик акцептует Оферту, гарантируя, что ознакомлен и принимает все условия Оферты в том виде, в каком они изложены в тексте настоящего Договора, а также ознакомлен со стоимостью Услуг, указанной на Сайте Исполнителя.
    <br/>1.4. Исполнитель и Заказчик предоставляют взаимные гарантии своей право- и дееспособности, необходимые для заключения и исполнения настоящего Договора на оказание услуг.
    <br/>1.5. Настоящий Договор может быть изменен и/или дополнен Исполнителем в одностороннем порядке без какого-либо специального уведомления. Настоящий Договор-оферта является открытым и общедоступным документом. Действующая редакция Договора-оферты располагается в сети Интернет на сайте: http://www.shvedovaav.ru/. 
    
    <br/>1.6. Публичная оферта о заключении договора возмездного оказания комплекса образовательных услуг онлайн-школы «Авторская Школа Анны Шведовой» не требует скрепления печатями и/или подписания «Заказчиком» и «Исполнителем» (далее по тексту – «Стороны»), сохраняя при этом полную юридическую силу.
    <br/>1.7. Информация о содержании, объеме и сроках проведения онлайн-программ «Авторская Школа Анны Шведовой», размещенная на сайте  Исполнителя, может и должна расцениваться как информация об услуге, доведение которой до потребителя обязательно в соответствии со ст. 10 Закона РФ от 07.02.1992 № 2300-1 «О защите прав потребителей».
    
    <br/> <br/>
    
    <h3>2. ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ</h3>
    
    <br/> <br/>
    
    2.1. В целях настоящей Оферты нижеприведенные термины используются в следующем значении:
    Акцепт оферты – полное и безоговорочное принятие оферты путем осуществления Заказчиком действий по внесению предварительной или полной оплаты за оказание образовательных услуг.
    Заказчик, Пользователь – право- и дееспособное физическое лицо, присоединившееся к условиям настоящей Оферты путем Акцепта оферты.
    Информационные материалы – это объекты интеллектуальной собственности Исполнителя в форме текстов, изображений, рисунков, фотографий, графиков, видео, программ, звуков, пользовательских интерфейсов и т.д., которые являются содержанием онлайн-программ.
    Исполнитель – индивидуальный предприниматель Ушакова Людмила Евгеньевна (ИНН 246209171962), индивидуальный предприниматель Шведова Анна Владимировна (ИНН 246206406670) обладающая правами интеллектуальной собственности на информационные материалы программ онлайн-школы «Авторская Школа Анны Шведовой».
    Мессенджер – информационная система и/или компьютерная программа (мобильное приложение, веб-сервис, вебприложение и т.п.), которые предназначены и/или используются для приема, передачи, доставки и/или обработки электронных сообщений пользователей сети Интернет (например, Skype, Zoom, WhatsApp, Viber, Telegram и т.п.).
    Онлайн-программа  — это информационный образовательный продукт, представляющий собой целостную совокупность отдельных взаимосвязанных элементов, общей целью которых служит развитие сознания и приобретение умственных способностей и навыков.
    Публичная оферта, Договор, Оферта, Договор-оферта – настоящий электронный документ «Публичная оферта о заключении договора возмездного оказания комплекса образовательных услуг», размещенный на сайте https://shvedovaav.ru.
    Сайт Исполнителя – официальный информационный ресурс (сайт), расположенный в сети Интернет по адресу https://shvedovaav.ru.
    Тариф – совокупность услуг и действий Исполнителя, совершаемых в отношении Заказчика, определенная конкретным объемом и стоимостью, и размещенная на сайте Исполнителя.
    <br/>2.2. Каждый термин, определенный в настоящем разделе Оферты, сохраняет свое значение независимо от того, в каком месте настоящей Оферты он встречается. В настоящей Оферте слова, обозначающие единственное число, включают в себя и множественное, и наоборот.
    <br/>2.3. В настоящем документе могут быть использованы термины, не определенные в разделе 2 Оферты. В этом случае толкование такого термина производится в соответствии с текстом настоящего документа. В случае отсутствия однозначного толкования термина в тексте документа следует руководствоваться толкованием термина, определенным: в первую очередь действующим законодательством Российской Федерации, во вторую очередь - сложившимся (общеупотребимым) в информационно-телекоммуникационной сети Интернет.
    
    <br/> <br/>
    
    <h3>3. ПРЕДМЕТ ДОГОВОРА</h3>
    
    <br/> <br/>
    
    3.1. Предметом настоящего Договора-оферты является возмездное оказание Исполнителем комплекса образовательных услуг путем предоставления доступа к информационным материалам онлайн-программ (далее – Программы) и информационно-консультационных услуг путем переписки в мессенджерах по вопросам, возникающим у Заказчика при получении образовательных услуг в рамках настоящей Оферты.
    <br/>3.2. Срок оказания услуг – 1 месяц.
    <br/>3.3. Срок предоставления доступа к информационным материалам онлайн-программ - 12 месяцев, если иное не указано на сайте https://shvedovaav.ru.
    <br/>3.4. Услуги оказываются с использованием исключительно дистанционных образовательных технологий через информационно-телекоммуникационную сеть Интернет с использованием собственной образовательной платформы, мессенджеров, онлайн видео комнат и социальных сетей.
    Доступ к информационным материалам на сайте https://shvedovaav.ru осуществляется по логину и паролю, которые Исполнитель направляет на электронную почту Заказчика, указанную при регистрации, после оплаты выбранного Тарифом.  
    Регистрация Заказчика осуществляется Исполнителем на основании данных, предоставляемых Заказчиком либо третьим лицом, получившим согласие на обработку персональных данных Заказчика, в том числе, на основании данных, предоставляемых Заказчиком самостоятельно при регистрации.
    Заказчику может быть предложено указать свои имя, номер контактного мобильного телефона, адрес электронной почты.
    В связи с указанными выше обстоятельствами Заказчик гарантирует и подтверждает, что вся предоставленная им информация является достоверной, актуальной, полной и соответствующей законодательству Российской Федерации.
    <br/>3.5. Услуги считаются оказанными с надлежащим качеством и в срок, и в полном соответствии с потребностями Заказчика по истечению срока оказания услуг, если до его окончания Исполнителю не направлена мотивированная претензия к качеству услуг в порядке, предусмотренном настоящей Офертой.
    
    <br/> <br/>
    
    <h3>4. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</h3>
    
    <br/> <br/>
    
    4.1. Предоставление Заказчику доступа к информационным материалам онлайн-школы «Авторская Школа Анны Шведовой» является платным. Стоимость определяется в соответствии с Тарифом и зависит от условий приобретения, указанных в описании Программы на сайте https://shvedovaav.ru.
    <br/>4.2. Оплата услуг производится путем перечисления денежных средств на расчетный счет Исполнителя без предварительного выставления счета при помощи сервиса интернет-эквайринга с использованием электронного средства платежа.
    <br/>4.3. Датой оплаты услуги является дата поступления денежных средств на расчетный счет Исполнителя.
    <br/>4.4. Стороны признают и соглашаются, что Исполнитель не несет перед Заказчиком ответственности в случае не поступления денежных средств по причинам независящими от Исполнителя, включая, но не ограничиваясь: сбои в программном обеспечении или поломка оборудования банков, операторов связи, платежных систем и иных платежных посредников, которые обеспечивают прием платежей от Заказчика и их перечисление Исполнителю.
    <br/>4.5. Исполнитель оказывает услуги Заказчику при условии 100 % (стопроцентной) предоплаты.
    <br/>4.6. В случае невозможности оказания услуг, возникшей по вине Заказчика (в т.ч. в случае одностороннего отказа от исполнения договора) возврат денежных средств осуществляется за вычетом оплаты за фактически оказанные услуги и компенсации фактических издержек. По истечении срока оказания услуг возврат денежных средств не производится.
    <br/>4.7. Заявление об одностороннем отказе Заказчика от исполнения договора должно быть направлено на электронную почту  info@shvedovaav.ru с темой письма «Возврат денежных средств».
    
    <br/> <br/>
    
    <h3>5. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>
    
    <br/> <br/>
    
    5.1. Заказчик обязуется:
    <br/>5.1.1. Оплачивать Услуги в порядке, размере и сроки, предусмотренные настоящей Офертой.
    <br/>5.1.2. Действовать добросовестно по отношению к Исполнителю, третьим лицам, привлеченным Исполнителем и другим лицам, принимающим Услуги.
    <br/>5.1.3. Своевременно передать все необходимые документы и информацию, включая, но не ограничиваясь, персональные данные, необходимые для регистрации личного кабинета на сайте https://shvedovaav.ru, Исполнителю.
    <br/>5.1.4. Возмещать ущерб, причиненный имуществу, личным правам, чести и достоинству Исполнителя и привлеченных Исполнителем третьих лиц в соответствии с действующим законодательством России.
    <br/>5.1.5. Не использовать информацию, полученную от Исполнителя способами, способными привести к нанесению ущерба интересам Исполнителя.
    Заказчик обязуется не использовать программное обеспечение и не совершать действия, направленные на нарушение нормального функционирования Сайта Исполнителя, порядка оказания услуг, функционирования разделов, сервисов, возможностей и инструментов Сайта Исполнителя, а также персональных страниц, личных кабинетов, аккаунтов других третьих лиц. Заказчик обязуется не совершать никаких действий, целью которых, помимо прочих, могут является получение доступа к скрытым разделам, сервисам, возможностям Сайта Исполнителя, получение персональных данных третьих лиц, получение доступа к проекту в объеме, который не предоставляется Заказчику, исходя из конкретных условий.
    <br/>5.1.6. Заказчик обязуется не копировать материалы Программы, не передавать доступ к Программе третьим лицам. В случае выявления указанных действий Заказчик несет материальную ответственность в соответствии с ГК РФ за нарушение прав интеллектуальной собственности, за причинение убытков в размере от 10 000 рублей до 5 000 000 рублей.
    <br/>5.1.7. Использовать услуги Исполнителя исключительно для личных нужд, не связанных с осуществлением предпринимательской деятельности.
    <br/>5.1.8. Самостоятельно знакомиться с официальной информацией от Исполнителя, публикуемой в порядке, предусмотренной настоящим Договором, а также отслеживать внедрение новых документов или изменение уже существующих.
    <br/>5.1.9. Самостоятельно обеспечивать техническую возможность пользования Услугами Исполнителя со своей стороны, а именно обеспечить надлежащий доступ к информационно-телекоммуникационной сети «Интернет» и наличие программного обеспечения, совместимого с передачей информации от Исполнителя и других необходимых средств.
    <br/>5.1.10. Выполнять иные обязанности, установленные настоящей Офертой, и предусмотренные действующим законодательством Российской Федерации.
    <br/> <br/>
    <br/>5.2. Исполнитель обязуется:
    <br/>5.2.1. Организовать и обеспечить оказание Услуг, соответствующее основной цели их оказания.
    <br/>5.2.2. Предоставить Заказчику доступ к информационным материалам курса.
    <br/>5.2.3. Использовать все личные данные и иную конфиденциальную информацию о Заказчике только для оказания Услуг.
    <br/>5.2.4. Действовать добросовестно и в интересах Заказчика, не нарушать прав Заказчика на свободу совести, информации, на свободное выражение собственных мнений и убеждений, в пределах не нарушающих личные права, честь и достоинства Исполнителя и иных лиц.
    <br/>5.2.5. Давать устные и письменные консультации Заказчику по дополнительным вопросам Заказчика. Сложность вопроса, объем, и сроки консультирования определяется в каждом конкретном случае Исполнителем самостоятельно.
    <br/>5.2.6. Поддерживать техническое состояние программного модуля Сайта Исполнителя, а также предоставление беспрепятственного доступа к сайту https://shvedovaav.ru уже зарегистрированным и оплатившим прохождение программы Заказчикам, а в случае неполадок, исправить их в кратчайший срок.
    <br/> <br/>
    <br/>5.3. Заказчик вправе:
    <br/>5.3.1. Получить доступ к информационным материалам онлайн-программ «Авторская Школа Анны Шведовой».
    <br/>5.3.2. Самостоятельно принимать решение об использовании услуг, предоставляемых Исполнителем и получать такие услуги Исполнителя в соответствии и с условиями настоящего Договора.
    <br/>3.5.4. Требовать от Исполнителя предоставления информации по вопросам организации и обеспечения надлежащего оказания Услуг.
    <br/>5.3.5. Требовать надлежащего оказания Услуг Исполнителем.
    <br/>5.3.6. Отказаться от исполнения Договора при условии оплаты Исполнителю фактических издержек, связанных с оказанием Услуги.
    <br/>5.3.7. Если Исполнитель своевременно не приступил к оказанию Услуг или если во время оказания Услуг стало очевидным, что они не будут оказаны в срок, а также в случае просрочки оказания Услуг Заказчик вправе согласовать новую дату оказания услуг.
    <br/>5.3.8. Обращаться к Исполнителю по всем вопросам, связанным с оказанием Услуг, а также задавать вопросы, связанные с оказанием Услуг.
    <br/>5.3.9. В любое время обновить и исправить устаревшие или не корректные персональные данные на бесплатной основе
    <br/>5.3.10. Информировать Исполнителя посредством электронной почты о недостатках, выявленных в ходе оказания услуг.
    <br/> <br/>
    <br/>5.4. Исполнитель вправе:
    <br/>5.4.1. Самостоятельно определять формы и методы оказания Услуг. Исполнитель без предварительного уведомления Заказчика имеет право неограниченное количество раз осуществлять модерацию и изменение онлайн-программ «Авторская Школа Анны Шведовой», их разделов, сервисов, возможностей и инструментов, по своему усмотрению вносить изменения, изменять их содержание, удалять, изменять и размещать любые результаты интеллектуальной деятельности (в том числе используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, и любые серверные приложения).
    <br/>5.4.2. Требовать оплаты за оказанные или оказываемые Услуги, в соответствии с условиями настоящего Договора.
    <br/>5.4.3. Получать от Заказчика любую информацию, необходимую для выполнения своих обязательств по Договору-оферте. В случае непредставления либо неполного или неверного представления Исполнителем информации Исполнитель вправе приостановить исполнение своих обязательств по Договору-оферте до представления необходимой информации.
    <br/>5.4.4. Привлекать третьих лиц, по своему усмотрению для оказания отдельных информационно-консультационных услуг. При этом Исполнитель несет ответственность за действия привлеченных третьих лиц перед Заказчиком.
    <br/>5.4.5. Исполнитель вправе в любое время вносить изменения в условия настоящей Оферты. Изменения в условия Договора-оферты начинают свое действие с момента опубликования их на Сайте.
    <br/>5.4.6. Исполнитель вправе изменять заявленные на сайте характеристики Услуг, не нарушая основной цели их предоставления, исходя из личного убеждения о потребности в них Заказчика.
    
     
    <br/> <br/>
    <h3>6. ОТВЕТСТВЕННОСТЬ СТОРОН</h3>
    
    <br/> <br/>
    
    6.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по Договору в соответствии с Договором и законодательством Российской Федерации.
    <br/>6.2. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения Договора в результате событий чрезвычайного характера, которые стороны не могли ни предвидеть, ни предотвратить разумными мерами. Изменение рыночной конъюнктуры, а также иные экономические факторы (за исключением блокады и эмбарго) к таким событиям не относятся.
    <br/>6.3. При наступлении и прекращении указанных в п. 6.2 Договора обстоятельств, сторона по Договору, для которой создалась невозможность исполнения ее обязательств по Договору, должна незамедлительно известить об этом другую сторону в письменной форме.
    <br/>6.4. В случае если действие непреодолимой силы продолжается более двух месяцев подряд, Стороны проводят переговоры с целью выявления приемлемых для них альтернативных способов исполнения Договора и достижения соответствующей договоренности.
    <br/>6.5. Исполнитель не несет ответственности за прямой и/или косвенный ущерб, причиненный Заказчику, а также не возмещает Заказчику убытки (включая упущенную выгоду), понесенные Заказчиком в результате ненадлежащего качества каналов связи общего пользования, политику обмена трафиком между провайдерами, нормальное функционирование сети Интернет, ее частей или за качество линий связи, за их доступность для Заказчика.
    
     
    <br/> <br/>
    <h3>7. УСЛОВИЯ О КОНФИДЕНЦИАЛЬНОСТИ И ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
    
    <br/> <br/> 
    
    7.1. Исполнитель осуществляет сбор, хранение и обработку персональных данных Заказчика в порядке и на условиях Политики конфиденциальности и обработки персональных данных, размещенной на сайте https://shvedovaav.ru.
    <br/>7.2. Заказчик обязуется до акцепта Оферты самостоятельно ознакомиться с условиями Политики конфиденциальности и обработки персональных данных.
    
     
    <br/> <br/>
    <h3>8. ПОРЯДОК РАССМОТРЕНИЯ СПОРОВ</h3>
    
    <br/> <br/>
    
    8.1. Все споры и разногласия, которые могут возникнуть между Сторонами по вопросам, не нашедшим своего разрешения в тексте Договора, должны разрешаться путем переговоров.
    <br/>8.2. Стороны обязаны соблюдать претензионный порядок разрешения споров.
    Если у Заказчика возникают претензии к Исполнителю относительно качества оказанных услуг по настоящему Договору, Заказчик направляет Исполнителю мотивированное претензионное письмо на электронный адрес, указанный на Сайте Исполнителя в разделе «Контакты».
    Если у Исполнителя возникают претензии к Заказчику относительно потребления услуг по настоящему Договору, Исполнитель направляет Заказчику мотивированное претензионное письмо на электронный адрес, указанный на Сайте Исполнителя в разделе Контакты.
    Срок рассмотрения претензии составляет 30 (тридцать) календарных дней с момента получения претензии, если иной порядок досудебного урегулирования не установлен действующим законодательством.
    <br/>8.3. При не урегулировании в процессе переговоров спорных вопросов, споры, вытекающие из Договора, разрешаются в суде согласно правил подсудности спора.
    
    <br/> <br/> 
    
    <h3>9. СРОК ДЕЙСТВИЯ ДОГОВОРА. РАСТОРЖЕНИЕ ДОГОВОРА</h3>
    
    <br/> <br/>
    
    9.1. Договор считается заключенным и приобретает юридическую силу с момента совершения Заказчиком действий (акцепта), предусмотренных в Оферте и означающих безоговорочное согласие Заказчика с условиями договора и присоединение ко всем условиям Оферты без каких-либо изменений, изъятий или ограничений.
    <br/>9.2. Заключение настоящего Договора осуществляется путем присоединения к условиям настоящего договора (оферты) в соответствии со ст. 428 ГК РФ и принятие акцепта в соответствии со ст. 438 ГК РФ.
    <br/>9.3. Действие Договора прекращается в момент полного исполнения Сторонами своих обязательств.
    <br/>9.4. Договор может быть досрочно расторгнут:
    <br/>9.4.1. По соглашению Сторон в порядке, предусмотренном законодательством.
    <br/>9.4.2. Исполнитель вправе в одностороннем внесудебном порядке расторгнуть Договор в случае нарушения Заказчиком условий настоящего Договора.
    <br/>9.4.3. Заказчик вправе в любой время в одностороннем порядке отказаться услуг Исполнителя, при условии оплаты Исполнителю фактических издержек, связанных с оказанием Услуги.
    
    <br/> <br/> 
    
    <h3>10. ФОРС-МАЖОР</h3>
    
    <br/> <br/> 
    
    10.1. Исполнитель освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору (за исключением неуплаты любой причитавшейся ранее суммы), если это вызвано обстоятельствами непреодолимой силы, а именно пожара, наводнения, землетрясения, войны, а также запретительных актов или иных действий органов государственной власти и управления и других, не зависящих от сторон обязательств, и если эти обстоятельства непосредственно повлияли на исполнение настоящего Договора. В случаях наступления форс-мажорных обстоятельств, срок выполнения обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действовали такие обстоятельства.
    
    <br/>10.2. К обстоятельствам непреодолимой силы, также относятся: отсутствие электропитания, технико-технологические особенности систем кондиционирования и иного оборудования, находящего в дата-центре, а также неисправностями в работе сетевого оборудования, компьютеров и их программного обеспечения, технические проблемы на транзитных узлах сети Интернет и прочие нарушения функционирования сетей передачи данных, находящихся вне сферы влияния сторон, но не ограничиваясь вышеуказанным.
    
    <br/> <br/>
    
    <h3>11. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
    
    <br/> <br/>
    
    11.1. Настоящая Оферта и отношения между Исполнителем и Заказчиком регулируются и толкуются в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Офертой, а также любые споры, связанные с настоящей Офертой прямо или косвенно, подлежат разрешению в соответствии с законодательством Российской Федерации.
    <br/>11.2. Если по тем или иным причинам какие-либо из условий настоящей Оферты являются недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных условий Оферты.
    <br/>11.3. Стороны признают юридическую силу уведомлений и сообщений, направляемых друг другу на указанные ими почтовые адреса и адреса электронной почты. В случае возникновения разногласий по установлению времени отправления, получения сообщений, и их и содержания, считать данные, полученные с помощью технических средств Исполнителя достоверными и окончательными для разрешения разногласий между Сторонами.
    <br/>11.4. Стороны признают юридическую силу за электронными письмами – документами, направленными по электронной почте (e-mail) и/или с помощью мессенджеров, и признают их равнозначными документам на бумажных носителях, подписанным собственноручной подписью, т.к. только сами Стороны и уполномоченные ими лица имеют доступ к соответствующим адресам электронной почты и аккаунтам мессенджеров, указанным в Договоре в реквизитах Сторон и являющимся электронной подписью соответствующей Стороны. Доступ к электронной почте и аккаунтам мессенджеров каждая Сторона осуществляет по паролю и обязуется сохранять его конфиденциальность.
    <br/><br/>
    </div>
    {% endblock %}