//main style
$color_main: #fff; 
$color_submain: #8ecfd3; 
//
$color_text_main: #000;
//button
$color_btn: #8ecfd3; 
$color_btn_hover: #afe1e4;
$color_text_btn: #005C00;
$color_text_btn_hover: #0b3838;
//border
$color_border_line: #d3d3d3;
$color_box_shadow: #a5a5a5; 
$color_box_shadow_active: #32d14e; 
//modal
$color_modal: rgb(0, 0, 0, 50%);
