{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="form">
    <div class="container">
        <div class="form__title">Подтвердите удаление данных</div>
        <div class="form__body">
            <p>При отказе от дальнейшей обработки данных все данные будут удалены с сайта.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form__item">{{ form.non_field_errors}}</div>
                {% for field in form %}
                <div class="form__item">
                    {{ field.label }}<br />
                    {{ field }} {{field.errors}}
                </div>
                {% endfor %}

                <div class="form__item">
                    <input class="btn__input" type="submit" value="Подтвердить" />
                </div>
            </form>
            <br>
            <a href="{% url 'users:profile' %}" class="btn__link">Отмена</a>

        </div>
    </div>

</div>

{% endblock %}