{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="form">
    <div class="container">
        <div class="form__title">Регистрация</div>
        <div class="form__body">
            <form method="post">
                {% csrf_token %}
                <div class="form__item">{{ form.non_field_errors}}</div>
                {% for field in form %}
                <div class="form__item">
                    {{ field.label }}<br />
                    {{ field }} {{field.errors}}
                </div>
                {% endfor %}
                <p> Я принимаю условия <a href="{% url 'terms_of_use' %}">Пользовательского соглашения</a> 
                    и даю свое согласие АШАШ на обработку моей персональной
                информации на условиях, опреденных <a href="{% url 'confidence' %}">Политикой конфиденциальности</a> </p>
                <div class="form__item">
                    <input class="btn__input" type="submit" value="Зарегистрироваться" />
                </div>
            </form>

        </div>
    </div>

</div>
{% endblock %}